@mixin bar-graph-y-grid() {
  width: 100%;
  height: 100%;
  display: grid;
  //   grid-template-rows: repeat(var(--bar-graph-rows), calc(100% / var(--bar-graph-rows)));
  //   grid-template-rows: repeat(var(--bar-graph-rows), 1fr);
  grid-template-rows: repeat(var(--bar-graph-rows), var(--bar-graph-cell-height));
}

// $col-bar-graph-line: #bcbcca;

.bar-graph {
  &--wrapper {
    --bar-graph-y-width: 2rem;
    --bar-graph-pad: 3.5rem;
    --bar-graph-pad-top: 3.25rem;
    --bar-graph-pad-bottom: 4.75rem;
    --bar-graph-y-line-height: 0.0625rem;
    --bar-graph-bar-width: 3.65rem;
    --bar-graph-cell-height: calc((var(--graph-height) - (var(--bar-graph-pad-top) + var(--bar-graph-pad-bottom))) / var(--bar-graph-rows));
    --bar-graph-line-top-margin: calc((var(--bar-graph-cell-height) - var(--bar-graph-y-line-height)) / 2);
    --bar-graph-bar-spacing: 3.75rem;
    --bar-graph-bar-label-pad: 0.5rem;
    --bar-graph-bar-label-height: Min(var(--font-size-body), var(--font-leading-body));
  }

  display: grid;
  --size: 100%;
  @include s;

  &--y {
    display: grid;
    grid-template-columns: var(--bar-graph-y-width) 1fr;
    padding: var(--bar-graph-pad);
    padding-top: var(--bar-graph-pad-top);
    padding-bottom: var(--bar-graph-pad-bottom);
    --gap: calc(var(--bar-graph-pad) * 0.5);
    @include gap;
  }

  &--grid {
    @include bar-graph-y-grid;
  }

  &--cell {
    @include flex-col-center;
    * {
      @include my-auto;
      text-align: right;
    }
  }

  &--table {
    position: relative;
  }

  &--data {
    position: absolute;
    top: 0;
    width: calc(100% - (var(--bar-graph-pad) * 2));
    padding-left: var(--bar-graph-pad);
    // height:100%;
    padding-top: var(--bar-graph-line-top-margin);
    height: calc(100% - (var(--bar-graph-line-top-margin) * 2));
    @include flex-row-center;
    @include mx-auto;
  }

  &--line {
    height: var(--bar-graph-y-line-height);
    background-color: $col-graph-empty;
    width: 100%;
  }

  &--bar {
    position: relative;
    margin-top: auto;
    width: var(--bar-graph-bar-width);
    height: var(--bar-graph-bar-value);

    @include graph-animation;

    & + & {
      margin-left: var(--bar-graph-bar-spacing);
    }

    &__highlighted {
      background-color: $col-secondary;
    }

    &__default {
      background-color: $col-primary;
    }

    &__highlighted + &__default {
      margin-left: calc(var(--bar-graph-bar-spacing) * 1.75);
    }
  }

  &--bar-label {
    width: 100%;
    text-align: center;
    height: var(--bar-graph-bar-label-height);

    &__highlighted {
      color: $col-secondary;
      margin-top: calc((var(--bar-graph-bar-label-height) + var(--bar-graph-bar-label-pad)) * -1);
    }

    &__default {
      color: $col-background;
      margin-top: var(--bar-graph-bar-label-pad);
      margin-bottom: calc((var(--bar-graph-bar-label-height) + var(--bar-graph-bar-label-pad)) * -1);
    }
  }

  &--bar-name {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    @include flex-row-center;

    span {
      position: absolute;
      bottom: 0;
      transform: translate(0%, calc(100% + var(--bar-graph-bar-label-pad)));
    }

    // height: var(--bar-graph-bar-label-height);

    &__highlighted {
      margin-top: var(--bar-graph-bar-label-pad);
      color: $col-secondary;
    }

    &__default {
      color: $col-primary;
    }
  }
}
