@mixin bar-graph-y-grid() {
  width: 100%;
  height: 100%;
  display: grid;
  //   grid-template-rows: repeat(var(--bar-graph-rows), calc(100% / var(--bar-graph-rows)));
  //   grid-template-rows: repeat(var(--bar-graph-rows), 1fr);
  grid-template-rows: repeat(var(--bar-graph-rows), var(--bar-graph-cell-height));
}

// $col-bar-graph-line: #bcbcca;

.bar-graph {
  &--wrapper {
    --bar-graph-y-width: 2rem;
    // --bar-graph-pad: 3.5rem;
    --bar-graph-pad: 2.95rem;
    --bar-graph-pad-top: 3.225rem;
    --bar-graph-pad-bottom: 4.75rem;
    --bar-graph-y-line-height: 0.0625rem;
    // --bar-graph-bar-width: 3.65rem;
    --bar-graph-bar-width: 3.8rem;
    --bar-graph-cell-height: calc((var(--graph-height) - (var(--bar-graph-pad-top) + var(--bar-graph-pad-bottom))) / var(--bar-graph-rows));
    --bar-graph-line-top-margin: calc((var(--bar-graph-cell-height) - var(--bar-graph-y-line-height)) / 2);
    // --bar-graph-bar-spacing: 3.75rem;
    --bar-graph-bar-spacing: 3.25rem;
    --bar-graph-bar-label-pad: 0.65rem;
    --bar-graph-bar-label-height: Min(var(--font-size-body), var(--font-leading-body));

    @include xl-down {
      --bar-graph-pad: 2.25rem;
      --bar-graph-pad-top: 2.5rem;
      --bar-graph-pad-bottom: 4.35rem;
      --bar-graph-bar-spacing: 2.85rem;
      --bar-graph-bar-width: 3.5rem;
    }

    @include md-down {
      --bar-graph-pad: 0.95rem;
      --bar-graph-pad-top: 2.45rem;
      --bar-graph-pad-bottom: 3.85rem;
      --bar-graph-bar-spacing: 2.6rem;
      --bar-graph-bar-width: 3rem;
      --graph-height: 16rem;
      --gap: 1rem;
      --bar-graph-bar-label-height: Min(var(--font-size-h4), var(--font-leading-h4));
      --bar-graph-bar-label-pad: 0.45rem;


      & span {
        @include h4-text;
        font-weight: 400;
      }
    
    }

    @include sm-down {
      --bar-graph-pad-top: 2rem;
      --bar-graph-pad-bottom: 3.65rem;
      --bar-graph-bar-spacing: 1.75rem;
      --bar-graph-bar-width: 2.65rem;
      --graph-height: 15rem;
      --bar-graph-pad: 0.75rem;
    }
    



  }

  display: grid;
  --size: 100%;
  @include s;


  &--y {
    display: grid;
    grid-template-columns: var(--bar-graph-y-width) 1fr;
    padding: var(--bar-graph-pad);
    padding-top: var(--bar-graph-pad-top);
    padding-bottom: var(--bar-graph-pad-bottom);
    --gap: calc(var(--bar-graph-pad) * 0.5);
    @include gap;

    @include md-down{
      padding-right:1.65rem;
      --gap: 1.175rem;
    }
    @include sm-down{
      padding-right:1.8rem;
    }
  }

  &--grid {
    @include bar-graph-y-grid;
  }

  &--cell {
    @include flex-col-center;
    * {
      @include my-auto;
      text-align: right;
    }
  }

  &--table {
    position: relative;
  }

  &--data {
    position: absolute;
    top: 0;
    width: calc(100% - (var(--bar-graph-pad) * 2));
    padding-left: var(--bar-graph-pad);
    // height:100%;
    padding-top: var(--bar-graph-line-top-margin);
    height: calc(100% - (var(--bar-graph-line-top-margin) * 2));
    @include flex-row-center;
    @include mx-auto;
  }

  &--line {
    height: var(--bar-graph-y-line-height);
    background-color: $col-graph-empty;
    width: 100%;
  }

  &--bar {
    position: relative;
    margin-top: auto;
    width: var(--bar-graph-bar-width);
    height: var(--bar-graph-bar-value);

    @include graph-animation(background-color, 0.21s, ease-in-out, 0s);

    & + & {
      margin-left: var(--bar-graph-bar-spacing);
    }

    &__highlighted {
      background-color: rgba($col-secondary, var(--in-view));
    }

    &__default {
      background-color: rgba($col-primary, var(--in-view));
    }

    &__highlighted + &__default {
      margin-left: calc(var(--bar-graph-bar-spacing) * 1.75);
      @include md-down{
        margin-left: var(--bar-graph-bar-spacing);
      }
    }

    @include lg-down {
      &:nth-last-child(1),
      &:nth-last-child(2)
       {
        display: none;
      }
    }

    @include sm-down {
      &:nth-last-child(4){
        display: none;
      }
    }


  }

  &--bar-label {
    width: 100%;
    text-align: center;
    height: var(--bar-graph-bar-label-height);

    &__highlighted {
      color: $col-secondary;
      margin-top: calc((var(--bar-graph-bar-label-height) + var(--bar-graph-bar-label-pad)) * -1);
    }

    &__default {
      color: $col-background;
      margin-top: var(--bar-graph-bar-label-pad);
      margin-bottom: calc((var(--bar-graph-bar-label-height) + var(--bar-graph-bar-label-pad)) * -1);

    }
  }

  &--bar-name {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    @include flex-row-center;

    span {
      position: absolute;
      bottom: 0;
      transform: translate(0%, calc(100% + var(--bar-graph-bar-label-pad)));
    }

    // height: var(--bar-graph-bar-label-height);

    &__highlighted {
      margin-top: var(--bar-graph-bar-label-pad);
      color: $col-secondary;
    }

    &__default {
      color: $col-primary;


    }
  }
}
