@mixin graph-y-grid() {
  width: 100%;
  height: 100%;
  display: grid;
  //   grid-template-rows: repeat(var(--graph-rows), calc(100% / var(--graph-rows)));
  //   grid-template-rows: repeat(var(--graph-rows), 1fr);
  grid-template-rows: repeat(var(--graph-rows), var(--graph-cell-height));
}

$col-graph-line: #bcbcca;

.graph {
  &--wrapper {
    --graph-height: 24rem;
    --graph-y-width: 2rem;
    --graph-pad: 3.25rem;
    --graph-pad-top: 3.25rem;
    --graph-pad-bottom: 4.15rem;
    --graph-y-line-height: 0.0625rem;
    --graph-bar-width: 3.75rem;
    --graph-cell-height: calc((var(--graph-height) - (var(--graph-pad-top) + var(--graph-pad-bottom))) / var(--graph-rows));
    --graph-line-top-margin: calc((var(--graph-cell-height) - var(--graph-y-line-height)) / 2);
    --graph-bar-spacing: 3.75rem;
    --graph-bar-label-pad: 0.5rem;
    --graph-bar-label-height: Min(var(--font-size-body), var(--font-leading-body));


    background-color: $col-background;
    height: var(--graph-height);
    @include b-rad;

    & + * {
      margin-top: 0.85rem;
    }
  }

  display: grid;
  --size: 100%;
  @include s;

  &--y {
    display: grid;
    grid-template-columns: var(--graph-y-width) 1fr;
    padding: var(--graph-pad) ;
    padding-top: var(--graph-pad-top);
    padding-bottom: var(--graph-pad-bottom);
    --gap: calc(var(--graph-pad) * 0.75);
    @include gap;
  }

  &--grid {
    @include graph-y-grid;
  }

  &--cell {
    @include flex-col-center;
    * {
      @include my-auto;
      text-align: right;
    }
  }

  &--table {
    position: relative;
  }

  &--data {
    position: absolute;
    top: 0;
    width: calc(100% - (var(--graph-pad) * 2));
    padding-left: var(--graph-pad);
    // height:100%;
    padding-top: var(--graph-line-top-margin);
    height: calc(100% - (var(--graph-line-top-margin) * 2));
    @include flex-row-center;
    @include mx-auto;
  }

  &--line {
    height: var(--graph-y-line-height);
    background-color: $col-graph-line;
    width: 100%;
  }

  &--bar {
    position: relative;
    margin-top: auto;
    width: var(--graph-bar-width);
    height: var(--graph-bar-value);

    &+&{
      margin-left: var(--graph-bar-spacing);
    }
    
    &__highlighted {
      background-color: $col-secondary;
    }

    &__default {
      background-color: $col-primary;
    }

    
    &__highlighted+&__default {
      margin-left: calc(var(--graph-bar-spacing) * 1.75);
    }

  }

  &--bar-label {
    width: 100%;
    text-align: center;
    height: var(--graph-bar-label-height);
    
    &__highlighted {
      color: $col-secondary;
      margin-top: calc((var(--graph-bar-label-height) + var(--graph-bar-label-pad)) * -1);
    }

    
    &__default {
      color: $col-background;
      margin-top: var(--graph-bar-label-pad);
      margin-bottom: calc((var(--graph-bar-label-height) + var(--graph-bar-label-pad)) * -1);
    }
  }



  &--bar-name {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    @include flex-row-center;

    span{
      position: absolute;
      bottom: 0;
      transform: translate(0%, calc(100% + var(--graph-bar-label-pad)));
    }



    // height: var(--graph-bar-label-height);
    
    &__highlighted {
      margin-top: var(--graph-bar-label-pad);
      color: $col-secondary;
    }

    &__default {
      color: $col-primary;
    }
  }









}
