.brief {
  background-color: $col-background_darkest;
  @include pad-y(5rem);

  @include lg-down{
    @include pad-y(3.5rem);
  }


  &--container {


    &__study{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

  }




  &--group {
    &__study {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }


    &__gallery {
      display: flex;
      @include flex-row;
      --gap:5rem;
      @include gap;
      margin-top: -0.5rem;


      @include lg-down{
        --gap: 2.85rem;
        flex-wrap: wrap;
      }
    }


  }



  &--desc {
    width: 80%;
  }

  &--point {
    grid-column: span 1;
  }

  &--title{
    @include h4-margin;

    &__study{

    }

    &__gallery{
      
      * {
        font-weight: 500;
        color: $col-secondary;
      }


      @include lg-down{
        margin-bottom: -0.15rem;
      }

    }

  }

  &--list {
    li {
      list-style-type: none;
    }
  }

  &--tags {
    @include flex-row;
    flex-wrap: wrap;

    --tag-spacing: 0.65rem;
    column-gap: calc(var(--tag-spacing) * 0.85);
    row-gap: var(--tag-spacing);
  }
}
