.button {
  @include flex-row;
  @include b-rad;
  @include body;
  @include trans;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  @include no-select;

  --button-background: #{$col-secondary};
  --button-color: #{$col-background};
  --button-padding: 1.125rem;
  --button-icon-size: 1.25rem;
  --button-icon-margin: 0.75rem;

  background-color: var(--button-background);
  padding: calc(var(--button-padding) - 0.25rem) calc(var(--button-padding) + 0.25rem);

  & > * + * {
    margin-left: var(--button-icon-margin);
  }

  &--img {
    @include flex-col-center;
  }

  &--copy {
    color: var(--button-color);
  }

  &--icon {
    margin-bottom: -0.125rem;

    @include s;
    --size: var(--button-icon-size);

    &__mask {
      @include mask;
      background-color: var(--button-color);
    }



    transform: translateX(0);

    @include hover('.button__right', '&'){
      transform: translateX(0.15rem);
    }
    @include hover('.button__left', '&'){
      transform: translateX(-0.15rem);
    }



  }

  &__right {
    padding: calc(var(--button-padding) - 0.25rem) calc(var(--button-padding) + 0rem) calc(var(--button-padding) - 0.25rem) calc(var(--button-padding) + 0.1rem);
  }

  &__left {
    padding: calc(var(--button-padding) - 0.25rem) calc(var(--button-padding) + 0.25rem) calc(var(--button-padding) - 0.25rem) calc(var(--button-padding) + 0rem);
  }

  @include hover {
    --button-background: #{$col-secondary_hovered};
    // --button-background: #{$col-background_darkest};
    // --button-color: #{$col-secondary};
  }
}




.link{
  @include no-select;
}