.chapter-indicator {
  &--wrapper {
    --site-x-margin: calc((100% - var(--site-max-width_wide)) / 2);
    --temp-buffer: 10rem;

    display: flex;
    height: var(--button-height);
    position: sticky;
    z-index: 10;
    top: calc(var(--nav-height) + var(--temp-buffer));
  }

  height: 100%;
  background-color: $col-tertiary;
  @include flex-col-center;
  padding-left: calc(var(--site-x-margin));
  padding-right: 1.5625rem;

  &--name {
    margin-top: -0.03125rem;
    color: $col-background;
    height: var(--font-height-body);
    @include flex-col;

    span{

      // --chapter-name-index:0;
      // --chapter-progress:0;
      --offset: 1;

      &:first-child{
        margin-top: calc(((var(--chapter-progress)*-1) + var(--offset)) * var(--font-height-body))
      }

    }
  }






}
