@mixin assets-scrollbar {
  @include scrollbar {
    width: 0.25rem;
  }

  @include scrollbar-track {
    background-color: $col-background_darkest;
  }

  @include scrollbar-thumb {
    background-color: lighten($col-tertiary-light, 10);
  }
}

@mixin outline-before($str) {
  outline: var(--outline-#{$str});
  @include safari {
    outline: none;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      z-index: 1;
      box-shadow: var(--box-shadow-#{$str});
    }
  }
}

@mixin outline-on-and-off {
  &::before {
    transition: 0.1s;
  }
  &__on {
    @include outline-before(on);
  }
  &__off {
    @include outline-before(off);
  }
}

.configurator {
  //   &--wrapper {
  //     width: 100%;
  //   }
  --outline-width: 0.25rem;
  --outline-on: var(--outline-width) solid #{$col-tertiary};
  --outline-off: 0rem solid #{$col-tertiary};
  --outline-partial: calc(var(--outline-width)/2) solid #{$col-tertiary};

  @include safari {
  --box-shadow-on: 0 0 0 var(--outline-width) #{$col-tertiary};
  --box-shadow-off: 0 0 0 0rem #{$col-tertiary};
  --box-shadow-partial: 0 0 0 calc(var(--outline-width)/2) #{$col-tertiary};
  }

  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  --config-gap: 6.25rem;
  @include gap(var(--config-gap));

  @include xl-down {
    --config-gap: 4.5rem;
  }
  @include lg-down {
    --config-gap: 3rem;
  }
  @include md-down {
    @include flex-col;
    --config-gap: 1.5rem;
  }

  &--panel {
    --config-panel-width: #{col-gap-width(var(--site-max-width), 2, var(--config-gap))};
    width: var(--config-panel-width);

    @include md-down {
      --config-panel-width: 100%;
    }
  }

  .assets {
    --assets-gap: 2rem;

    --assets-col: 3;

    @include flex-col-between;
    @include xl-down {
      --assets-gap: 1.75rem;
    }
    @include lg-down {
      --assets-gap: 1.5rem;
    }

    @include md-down {
      order: 1;
      @include flex-row;
      overflow-x: auto;
      overflow-y: hidden;
      @include gap(var(--assets-gap));
      width: 100%;
      margin-top: calc(var(--outline-width) * -1);
      // padding: var(--assets-gap);
      // padding-top: 0rem;

      @include assets-scrollbar;
    }

    &--row {
      @include flex-row;
      @include gap(var(--assets-gap));

      & + .assets--row {
        margin-top: calc(var(--config-gap) / 2);
      }

      @include md-down {
        padding-bottom: var(--assets-gap);
        &:first-child {
          padding-left: calc((var(--outline-width) * 2) + var(--assets-gap));
        }
        &:last-child {
          padding-right: var(--outline-width);
        }
        // width: #{col-width(4) - (--assets-gap)/2};
        // padding: var(--assets-gap);
        // padding-top: 0rem;

        & + .assets--row {
          margin-top: 0rem;
        }
      }
    }

    &--category {
      @include flex-col;
      flex: 1;

      @include md-down {
        flex: unset;

        --col: calc((12 / var(--assets-col)) * Max(1, (var(--assets-col) - var(--assets-options-count))));

        width: calc(var(--column-grid-max) / var(--col) * 100%);
        height: auto;
      }
    }

    &--inner {
      @include flex-row;
      @include gap(var(--assets-gap));

      @include md-down {
        $section-space: calc((var(--assets-gap) - var(--outline-width)) * 1.35);

        margin-left: calc(#{$section-space} * -1);

        padding-right: calc(#{$section-space});
        margin-right: $section-space;
        margin-top: var(--outline-width);

        @at-root .assets--row:not(:last-child) .assets--inner {
          border-right: solid $col-background_darkest 0.25rem;
        }
        @at-root .assets--row:last-child .assets--inner {
          margin-right: 0rem;
          padding-right: 0rem;
        }
      }
    }

    &--panel {
      padding: 0rem;
      --graphic-scale: 1;
      --asset-panel-width: #{col-gap-width(var(--config-panel-width), 3, var(--assets-gap))};

      width: 100%;
      min-width: var(--asset-panel-width);
      height: var(--asset-panel-width);

      cursor: pointer;
      @include hover {
        background-color: $col-background_darkest;
      }

      @include outline-on-and-off;

      @include xxl-down {
        --graphic-scale: 0.85;
      }

      @include xl-down {
        --graphic-scale: 0.825;
      }
      @include lg-down {
        --graphic-scale: 0.675;
      }
      @include md-down {
        aspect-ratio: 1/1;
        height: unset;
        --graphic-scale: 0.775;

        // width: 10rem;
        width: 7rem;
      }
    }

    &--heading {
      @include md-down {
        display: none;
      }
    }
  }

  .viewer {
    &--wrapper {
      background-color: $col-background;
      @include flex-col;
      height: 100%;

      @include md-down {
        @include flex-row;
        @include gap(var(--config-gap));
      }
    }

    @include b-rad;
    height: 100%;
    background-color: $col-background_darker;
    @include flex-col-center;
    padding-top: 1rem;
    position: relative;

    @include md-down {
      order: 0;
      width: 100%;
      padding-top: 0rem;
    }

    &--body {
      @include md-down {
        @include flex-col;
        flex: 1 1;
      }
    }

    &--preview {
      @include lg-down {
        transform: scale(1) translateY(-0.15rem);
      }
      @include md-down {
        transform: scale(0.925) translateY(-0.35rem);
      }
    }
  }

  .materials {
    &--wrapper {
      // @include md{
      //   width:fit-content;
      //   position:absolute;
      //   right:0;
      //   top:50%;
      //   transform: translate(calc(100% + var(--configurator-left-offset)), -50%);
      // }

      @include md-down {
        width: var(--configurator-material-width);
        margin-top: auto;
        height: var(--image-height);
        @include flex-col;
      }
    }
    &--group {
      @include flex-row-between;
      width: 50%;
      @include mx-auto;
      --gap: 1.5rem;
      @include gap;
      margin-top: 0.25rem;
      margin-bottom: 3.25rem;

      @include xxl-down {
        margin-top: 0rem;
        width: 55%;
      }
      @include xl-down {
        margin-top: 0rem;
      }
      @include lg-down {
        width: 60%;
        --gap: 1.15rem;
        margin-top: 0.25rem;
      }

      @include md-down {
        --gap: 1.5rem;
        @include flex-col;
        width: var(--configurator-material-width);
        @include my-auto;
      }
      @include sm-down {
        --gap: 1.5rem;
      }
    }

    width: 100%;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 100rem;

    @include md-down {
      aspect-ratio: 1/1;
    }

    @include outline-on-and-off;

    &--graphic {
      border-radius: 100rem;
      overflow: hidden;

      filter: brightness(1);

      @include hover(".material", ".material--graphic") {
        filter: brightness(0.95);
      }

      img {
        transform: scale(2.5);
      }
    }
  }

  .preview {
    position: relative;
    width: 100%;
    height: var(--image-height);
    transition: opacity 0.3s;

    &--component {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: var(--preview-img-order);

      transition: 0.2s;

      &__on {
        opacity: 1;
      }
      &__off {
        opacity: 0;
      }
    }

    &__loading {
      opacity: 0;
    }
  }
}
