


.focus{
    @include flex-col;
    width:100%;

    &--head{
        @include flex-row-between;
        align-items: end;
    }


    &--card{
        @include b-rad;
        background-color: $col-background_darker;
        padding:1.75rem;
        margin-top:0.75rem;
    }

    &--description{
        margin-top:0.55rem;
    }
}