.hero {
  @include flex-row-between;

  --hero-margin-top: 1rem;

  &--desc {

    *+* {
      margin-top: var(--hero-margin-top);
    }

    *+*:last-child {
      margin-top: calc(var(--hero-margin-top)*1.3);
    }
  }

  &--img {
    @include mx-auto;
    width: 10rem;
    img {
      @include img-contain;
    }
  }


  &--name {
    color: $col-secondary;
  }
}
