.image-row {
  --image-row-scale: 1;
//   --image-row-col: 1;
  --image-row-offset: 1;
  @include flex-row-between;

  width: calc(100%);

  &--wrapper {
    width: 100%;
    @include flex-row-between;
    overflow-x: clip;
    position: relative;
    height: var(--image-height);


    @include safari{
      margin-top: -10rem;
      margin-bottom: -10rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
 
    }
      

  }

  &--image {
    --col-width: #{col-gap-width(100%, calc(var(--image-row-col) - var(--image-row-offset)), 0rem)};

    width: var(--col-width);
    min-width: var(--col-width);
    transform: scale(var(--image-row-scale));
    position: absolute !important;
    top: 0;

    @include safari{
      top:unset;
    }


    --offset-size: calc((var(--image-row-offset) * var(--col-width)) * -1);
    --value1: calc(1 - var(--image-row-progress));
    --value2: var(--image-row-progress);
    --image-row-left: calc( var(--offset-size) * #{weighted-average( var(--value1), var(--value2), var(--image-row-direction) )} );
    
    left: calc((var(--image-row-index) * var(--col-width)) + var(--image-row-left));
  }
}
