.image-row{

    --image-row-scale: 1;
    --image-row-col-offset:1;
    @include flex-row-between;

    width: calc(100%);


    
    &--wrapper{
        width:100%;
        @include flex-row-between;
        overflow-x: clip;
        position: relative;
        height: var(--image-height);

    }
    
    
    &--image{
        --col-width: #{col-gap-width(100%, calc(var(--image-row-cols) - var(--image-row-col-offset)), 0rem)};

        width: var(--col-width);
        min-width: var(--col-width);
        transform: scale(var(--image-row-scale));

        position: absolute!important;

        top:0;

        // --image-row-left:1rem;
        left: calc((var(--image-row-index) * var(--col-width)) + var(--image-row-left));

    }

}