@mixin indicator-dark($selector: null) {
  @at-root {
    .indicator--wrapper.indicator--wrapper__theme-dark #{$selector} {
      @content;
    }
  }
}

@mixin indicator-light($selector: null) {
  @at-root {
    .indicator--wrapper.indicator--wrapper__theme-light #{$selector} {
      @content;
    }
  }
}

.indicator {
  &--wrapper {
    --site-x-margin: calc((100% - var(--site-max-width_wide)) / 2);
    --top-buffer: 9rem;
    --set-indicator-height: var(--button-height);

    --name-height: var(--font-height-body);
    --name-pad-y: calc((var(--set-indicator-height) - var(--name-height)) / 2);
    --name-margin-top: -0.03125rem;

    display: flex;
    height: var(--set-indicator-height);
    position: sticky;
    z-index: 9;
    margin-top: calc(var(--set-indicator-height) * -1);
    --indicator-transition: 0.7s;

    top: calc(var(--nav-height) + var(--top-buffer));

    pointer-events: none;

    &__hidden {
      opacity: 0;
    }

    @include lg-down {
      // --top-buffer: calc(var(--nav-height) * 1.25);
      // transition: top 0.3s;
      --top-buffer: calc(var(--nav-height) * 0.35);
      --set-indicator-height: calc(var(--button-height) * 0.65);
    }

    @include md-down {
      // --top-buffer: calc(var(--nav-height) * 0.75);
    }
  }

  &--inner {
    width: 100%;
  }

  height: 100%;
  background-color: $col-tertiary;
  @include flex-col-center;
  padding-left: Min(var(--site-x-margin), 1.5625rem);
  padding-right: 1.5625rem;
  margin-left: 0;
  pointer-events: all;
  overflow: hidden;
  position: relative;
  // cursor: pointer;
  width: var(--label-width);
  transform: translate(0%);
  transition: margin-left var(--indicator-transition), width 0.2s, opacity 0s, transform var(--indicator-transition), clip-path 0.6s;

  @include lg-down {
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // padding-left: calc(Min(var(--site-x-margin), 1.5625rem) * 0.75);
    // padding-right: calc(1.5625rem * 0.7);
    @include mx-auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: var(--b-rad_less);

    margin-left: auto;
    margin-right: var(--site-x-margin);
    
    transition: margin-left var(--indicator-transition), width 0.2s, opacity 0s, transform var(--indicator-transition) 0.3s, clip-path 0.6s;

  }

  &--background {
    background-color: var(--indicator-background-color);
    position: absolute;
    width: 100%;
    margin-top: calc(var(--indicator-background-index) * var(--set-indicator-height));
    height: var(--set-indicator-height);
    --margin-top: calc((var(--section-progress) * -1) * var(--set-indicator-height));
    --offset: 1;
    left: 0;
    top: calc(var(--margin-top) + (var(--offset) * var(--set-indicator-height)));

    &__theme-dark {
      background-color: $col-tertiary;

      // @include hover('.indicator--wrapper', '&'){
      //   background-color: $col-tertiary_light;
      // }
      // transition: background-color 0.2s!important;
    }

    &__theme-light {
      background-color: $col-background;
      // @include hover('.indicator--wrapper', '&'){
      //   background-color: $col-background_darkest;
      // }
      // transition: background-color 0.2s!important;
    }
  }

  &__hidden {
    @include no-select;
  }

  &__unloaded {
    transition: 0s !important;
  }

  &__off {
    // margin-left: calc(var(--indicator-width) * -1);
    @include lg-up{
      transform: translate(-101%);
    }
    @include lg-down{
      transform: translate(0%, calc(-1 * (101% + var(--top-buffer))));
      // clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
  }

  &__on {
    // margin-left: 0;
  }

  .label {
    --empty-margin-top_real: calc((var(--chapter-progress) * -1) * var(--set-indicator-height));
    --empty-margin-top_min: calc(var(--set-indicator-height) * -1);
    --empty-margin-top: Min(var(--empty-margin-top_min), var(--empty-margin-top_real));

    // margin-top: var(--name-margin-top);
    height: var(--set-indicator-height);
    @include flex-col;
    overflow: hidden;
    max-width: var(--label-width);
    transition: left 0.2s;
    z-index: 1;

    padding-top: 0rem;
    // transition: 1s!important;
    // @include hover('.indicator--wrapper', '&') {
    // padding-top: calc(
    // var(--name-height) + var(--name-pad-y) + (var(--set-indicator-height) * (var(--chapter-progress) - 1))
    // + var(--name-margin-top)
    // );
    // }

    &--empty {
      transition-duration: 0.1s;
      height: var(--name-height);
      min-height: var(--name-height);
      margin-top: var(--empty-margin-top);
      @include pad-y(var(--name-pad-y));

      // transition: 1s!important;
      // @include hover('.indicator--wrapper', '&'){
      //   @include pad-y(0rem);
      // }
      // transition: 1s!important;
      // @include hover('.indicator--wrapper', '&'){

      //   margin-top:
      //   calc(
      //     var(--name-height) * (var(--chapter-progress) * -1) - var(--name-pad-y)
      // )

      //   padding-bottom: calc(
      //     var(--name-height) +
      //     (var(--name-height) * (var(--chapter-progress) - 1) )
      // // + var(--name-margin-top)
      // );
      // }
    }

    &--name {
      width: fit-content;
      height: var(--name-height);
      min-height: var(--name-height);
      white-space: nowrap;
      @include pad-y(var(--name-pad-y));

      transition: color 0.05s !important;
      // transition: 1s!important;

      @include indicator-dark(".label--name") {
        color: $col-background;
      }

      @include indicator-light(".label--name") {
        color: $col-tertiary;
      }

      @include lg-down{
        @include safari{
          transform: translateY(-0.1rem);
        }
      }

      // @include hover('.indicator--wrapper', '&'){
      //   @include marg-y(calc(var(--name-pad-y) * -1));
      // }
    }
  }
}
