.indicator {
  &--wrapper {
    --site-x-margin: calc((100% - var(--site-max-width_wide)) / 2);
    --temp-buffer: 10rem;

    display: flex;
    height: var(--button-height);
    position: sticky;
    z-index: 9;
    top: calc(var(--nav-height) + var(--temp-buffer));
    margin-top: calc(var(--button-height) * -1);
    --indicator-transition: 0.6s;

    pointer-events: none;

    &__hidden {
      opacity: 0;
    }
  }

  height: 100%;
  background-color: $col-tertiary;
  @include flex-col-center;
  padding-left: var(--site-x-margin);
  padding-right: 1.5625rem;
  margin-left: 0;
  pointer-events: all;
  overflow: hidden;
  position: relative;

  &--background {
    background-color: $col-tertiary;

    position: absolute;
    width: 100%;
    margin-top: calc(var(--indicator-background-index) * var(--button-height));
    height: var(--button-height);
    
    --empty-margin-top: calc((var(--chapter-progress) * -1) * var(--button-height));
    left: 0;
    top:  Min(calc(var(--button-height) * -1), var(--empty-margin-top));    


    &:nth-child(2n){
      background-color: $col-tertiary_light;
    }
  }



  &__hidden {
    @include no-select;
  }

  &__off {
    margin-left: calc(var(--indicator-width) * -1);
  }

  &__on {
    margin-left: 0;
  }

  .label {
    margin-top: -0.03125rem;
    color: $col-background;
    height: var(--font-height-body);
    @include flex-col;
    overflow: hidden;
    max-width: var(--label-width);
    transition: 0.2s;
    z-index: 1;

    &--empty {
      transition-duration: 0.1s;
      height: var(--font-height-body);
      min-height: var(--font-height-body);
      --empty-margin-top: calc((var(--chapter-progress) * -1) * var(--font-height-body));
      margin-top: Min(calc(var(--font-height-body) * -1), var(--empty-margin-top));
    }

    &--name {
      width: fit-content;
      // --name-index:0;
      // --chapter-progress:0;
      // --offset: 1;
    }
  }
}
