.indicator {
  &--wrapper {
    --site-x-margin: calc((100% - var(--site-max-width_wide)) / 2);
    --temp-buffer: 10rem;

  
    // --section-background_col-background: col-tertiary;
    // --section-background_dark: col-background;


    display: flex;
    height: var(--button-height);
    position: sticky;
    z-index: 9;
    top: calc(var(--nav-height) + var(--temp-buffer));
    margin-top: calc(var(--button-height) * -1);
    --indicator-transition: 0.6s;

    pointer-events: none;

    &__hidden {
      opacity: 0;
    }
  }

  height: 100%;
  background-color: $col-tertiary;
  @include flex-col-center;
  padding-left: var(--site-x-margin);
  padding-right: 1.5625rem;
  margin-left: 0;
  pointer-events: all;
  overflow: hidden;
  position: relative;

  &--background {





    background-color: var(--indicator-background-color);
    position: absolute;
    width: 100%;
    margin-top: calc(var(--indicator-background-index) * var(--button-height));
    height: var(--button-height);
    --margin-top: calc((var(--section-progress) * -1) * var(--button-height));
    --offset: 1;
    left: 0;
    top:  calc(var(--margin-top) + (var(--offset)*var(--button-height)));

  }



  &__hidden {
    @include no-select;
  }

  &__off {
    margin-left: calc(var(--indicator-width) * -1);
  }

  &__on {
    margin-left: 0;
  }

  .label {
    margin-top: -0.03125rem;
    color: var(--indicator-primary-color);
    height: var(--button-height);
    @include flex-col;
    overflow: hidden;
    max-width: var(--label-width);
    transition: 0.2s;
    z-index: 1;

    &--empty {
      transition-duration: 0.1s;
      height: var(--font-height-body);
      min-height: var(--font-height-body);
      --empty-margin-top: calc((var(--chapter-progress) * -1) * var(--button-height));
      --min: calc(var(--button-height) * -1);
      // --max: calc((var(--button-height) * -1) * var(--section-count));

      margin-top: Min(var(--min), var(--empty-margin-top) );

      @include pad-y(calc((var(--button-height) - var(--font-height-body))/2));
    }

    &--name {
      width: fit-content;
      @include pad-y(calc((var(--button-height) - var(--font-height-body))/2));
      // --name-index:0;
      // --chapter-progress:0;
      // --offset: 1;
    }
  }
}
