.method {
  --method-pad: 2.25rem;
  padding: var(--method-pad);
  background-color: $col-background;

  @include b-rad;
  height: calc(100% - (var(--method-pad) * 2));
  &--title {
    margin-bottom: 0.25rem;
  }

  &--head {
    @include flex-row;
    gap: 3.5rem;
    align-items: center;
  }

  &--mask {
    @include my-auto(true);
  }

  &--body {
    margin-top: 2.25rem;
  }

}
