:root {
  --nav-height: 3.75rem;

  scroll-padding-top: var(--nav-height);

  @include md-down {
    --nav-height: 3.45rem;
  }
}

.nav {
  --nav-color: #{$col-primary};
  --nav-button-spacing: 0rem;
  --nav-button-padding-multiplier: 1.25;
  // --nav-button-padding-multiplier: 1.15;

  height: var(--nav-height);
  background-color: var(--nav-color);
  position: sticky;
  top: 0;
  z-index: 10;
  @include md-down {
    overflow:hidden;
  }


  &--container {
    @include flex-row-between;
    height: 100%;
    align-items: center;

  
  }

  &--group {
    @include flex-row-between;
  }

  &--logo {
    a {
      @include h3;
      --font-size: var(--font-size-logo);
      font-size: var(--font-size);
      font-weight: 400;
      color: $col-background;
    }
  }

  &--links {
    a {
      @include body;
      --font-size: var(--font-size-body);
    }
  }

  &--item {
    text-decoration: none;
    color: $col-background;
    background-color: var(--nav-color);
    z-index: 1;
    height: var(--font-size);
    @include flex-col-center;

    --nav-button-pad-y: calc((var(--nav-height) - var(--font-size)) / 2);
    --nav-button-pad-x: calc(var(--nav-button-pad-y) * var(--nav-button-padding-multiplier));
    @include pad-y(var(--nav-button-pad-y));
    @include pad-x(var(--nav-button-pad-x));

    & + & {
      margin-left: Max(calc(var(--nav-button-spacing) - (var(--nav-button-pad-x) * 2)), 0rem);
    }

    &:first-child {
      margin-left: calc(var(--nav-button-pad-x) * -1);

      @include md-down {
        margin-left: calc(var(--nav-button-pad-x) * -1);
      }
    }

    &:last-child {
      margin-right: calc(var(--nav-button-pad-x) * -1);

      @include md-down {
        margin-right: calc(var(--site-margin-x_wide) * -1);
      }
    }

    @include hover {
      background-color: $col-background_darkest;
      color: var(--nav-color);
    }

    &__drop {
      cursor: pointer;
      @include no-select;
      @include hover {
        background-color: $col-primary_hovered;
        color: $col-background;
      }
    }
  }

  &--dropdown {
    position: absolute;
    margin-top: var(--nav-height);
    @include flex-col;
    // z-index: -1;
    transition: 0.5s;

    &__active {
      margin-top: var(--nav-height);
    }

    &__inactive {
      margin-top: calc(((var(--dropdown-items-total) - 1) * var(--nav-height)) * -1);
    }
  }

  &--drop-item {
    z-index: 0;
    margin-left: calc(var(--nav-button-pad-x) * -1) !important;
    white-space: nowrap;
    top: 0;
    width: calc(100% - var(--nav-button-pad-x));

    &__active {
      margin-top: 0;
    }

    &__inactive {
      pointer-events: none;
      transition-delay: 0s;
    }
  }

  &--menu-btn {
    cursor: pointer;

    &__open {
      background-color: $col-background_darkest;
      color: var(--nav-color);
    }
  }

  &--menu-icon {
    width: 1.4rem;
    transition: 0.3s;
    transform: rotate(0deg);

    &__open {
      transform: rotate(90deg);
    }
  }

  &--menu-mask {
    @mixin menu-mask-active {
      background-color: $col-primary !important;
    }

    background-color: $col-background;

    @include hover(".nav--menu-btn", ".mask") {
      @include menu-mask-active;
    }
    &__open {
      @include menu-mask-active;
    }
  }

  &--menu-wrapper {
    position: fixed;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--nav-height));
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
  }

  &--menu {
    pointer-events: all;
    width: 100%;
    height: 100%;
    background-color: $col-background_darkest;

    @include flex-col-center;
  }

  &--menu-item-wrapper {
    @include flex-row-center;

    & + & {
      margin-top: 1.65rem;
    }
  }

  &--menu-item {
    @include h2;
    font-weight: 500;
    color: $col-primary;
    transition: 0.2s;

    @include before-panel((0.35rem 0.55rem), rgba($col-primary, 0)) {
      transition: 0.2s;
    }

    @include hover {
      color: $col-background;

      &::before {
        background-color: rgba($col-primary, 1);
      }
    }
  }
}
