.next-study {
  &--group {
    margin-bottom: var(--section-gap);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  --next-study-pad: 2rem;

  background-color: $col-background_darker;
  @include b-rad;
  display: flex;
  position: relative;
  cursor: pointer;

  @include hover {
    background-color: $col-background_darkest;
  }

  &--background {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: calc(100% - var(--next-study-pad));
    height: calc(100% - var(--button-height));
    padding-right: var(--next-study-pad);
    z-index: 0;
  }

  &--graphic {
    height: 70%;
    margin: auto;
    margin-right: 0;
    transform: scale(1);


    img {
      @include img-contain;
    }
    
    
    @include hover {
      transform: scale(1.025);
    }
  }

  &--inner {
    @include flex-col;
    z-index: 1;
  }

  &--body {
    padding: var(--next-study-pad);
  }

  &--description {
    margin-top: 0.5rem !important;
  }

  &--tags {
    @include flex-row;
    margin-top: 1.25rem;
    gap: 0.625rem;
  }

  &--title {
  }

  &--button {
    margin-top: auto;

    width: calc(100% - (var(--next-study-pad) * 2));
    padding: 0rem var(--next-study-pad);

    @include flex-row-between;
  }
}
