// study variant applies to all studies + explorations, there's no gallery variant for studypanels cause they were similar enough to not need it

.studypanel {
  // TODO: Overall, even in the jsx and everthing, it might be more organized to replace 'studypanel' with 'panel__study' make it a variant of the panel element.

  @include flex-row-between;
  --studypanel-img-height: 42rem;
  --panel-description-spacing: 1rem;

  @mixin panel-mt($mt) {
    margin-top: calc(var(--panel-description-spacing) * #{$mt});
  }

  &--wrapper {
    &__study {
      display: flex;
      // background-color: rgba($col-background_darker, 0.6);
    }

    &__home {
      @include flex-col-center;
      height: 92vh;
      min-height: var(--studypanel-img-height);

      @include xl-down {
        height: 100% !important;
        margin-top: 18rem;
        margin-bottom: 18rem;
      }

      @include lg-down {
        margin-top: 14rem;
        margin-bottom: 14rem;
      }

      @include md-down {
        margin-top: 12rem;
        margin-bottom: 12rem;
      }
    }
  }

  &--title {
    @include h1;
  }
  &--subtitle {
    @include h2;
    font-weight: 500;
  }

  &--subheading {
    h1 + & {
      @include panel-mt(1.35);

      @include xxl-down {
        @include panel-mt(1.15);
      }

      @include xl-down {
        @include panel-mt(0.935);
      }
      @include md-down {
        @include panel-mt(1.25);
      }
    }
    h2 + & {
      @include panel-mt(0.95);

      @include xxl-down {
        @include panel-mt(0.825);
      }

      @include xl-down {
        @include panel-mt(0.795);
      }
      @include md-down {
        // width:90%;
        @include panel-mt(0.565);
      }
    }
  }

  &--paragraph {
    h3 + & {
      @include panel-mt(1.8);

      @include xxl-down {
        @include panel-mt(1.65);
      }

      @include xl-down {
        @include panel-mt(1.35);
      }
      @include md-down {
        @include panel-mt(1.575);
      }
    }
  }

  &--tags {
    @include panel-mt(1.55);

    @include xxl-down {
      @include panel-mt(1.45);
    }
    @include xl-down {
      @include panel-mt(1.35);
    }
    @include md-down {
      @include panel-mt(1.305);
    }
  }

  &--button {
    &__home,
    &__study {
      @include panel-mt(3.35);

      @include xxl-down {
        @include panel-mt(2.85);
      }
      @include xl-down {
        @include panel-mt(2.75);
      }

      @include md-down {
        @include panel-mt(1.905);

        --button-height: 2.95rem;
        width: stretch !important;
        justify-content: center;
      }
    }

  }

  &--description {
    @include flex-col-center;


    &__study {
      width: col-width(6);
      @include xxl-down {
        width: col-width(4.5);
      }
      @include xl-down {
        width: col-width(5);
      }
      @include lg-down {
        width: col-width(5);
      }

      @include md-down {
        order: 1;
        @include mx-auto;
        margin-top: 2.65rem;
        width: col-width(7.45);
      }

      @include sm-down {
        width: col-width(10.75);
      }
    }


    &__home {
      width: col-width(6);
      @include xxl-down {
        width: col-width(4.5);
      }
      @include xl-down {
        width: col-width(4.5);
      }
      @include lg-down {
        width: col-width(5);
      }

      @include md-down {
        order: 1;
        @include mx-auto;
        // margin-top: 2.65rem;
        margin-top: 2.85rem;
        width: col-width(7.45);
      }

      @include sm-down {
        width: col-width(10.75);
      }
    }

  }

  &--graphic {
    @include flex-col-center;

    &__study {
      width: col-width(6);
      @include xxl-down {
        width: col-width(6.5);
      }

      @include xl-down {
        width: col-width(6.5);
      }

      @include lg-down {
        width: col-width(6.35);
      }

      @include md-down {
        order: 0;
        width: col-width(7.45);
        @include mx-auto;
      }
      @include sm-down {
        width: col-width(11);
      }
    }


    

    &__home {
      width: col-width(6);
      @include xxl-down {
        width: col-width(6.25);
      }

      @include xl-down {
        width: col-width(6.25);
      }

      @include lg-down {
        width: col-width(6.35);
      }

      @include md-down {
        order: 0;
        width: col-width(7.45);
        @include mx-auto;
      }
      @include sm-down {
        width: col-width(11);
      }
    }
  }

  &--img {
    position: relative;

    img {
      @include img-contain;
    }

    &__study {
      height: var(--studypanel-img-height);
    }

    &__home,
    &__study {
      height: var(--studypanel-img-height);

      @include md-down {
        height: auto;
        display: flex;
        img {
          max-height: var(--studypanel-img-height);
        }
      }
    }
  }

  &--tags {
    @include xl-down {
      & > * + * {
        margin: 0 !important;
      }
      gap: var(--tag-spacing);
      flex-wrap: wrap;
    }
    @include lg-down {
      --tag-spacing: 0.85rem !important;
    }
    @include md-down {
      --tag-spacing: 0.55rem !important;
    }
  }

  &__study {
    margin-top: 4.5rem;
    margin-bottom: 5.5rem;
  --studypanel-img-height: 32rem;

    @include xl-down {
      margin-top: 4.5rem;
      margin-bottom: 5.5rem;
      --studypanel-img-height: 26rem;
    }
    @include lg-down {
      margin-top: 3.5rem;
      margin-bottom: 4.5rem;

      --studypanel-img-height: 22rem;
    }

    @include md-down {
      @include flex-col-center;
      --studypanel-img-height: 33vh;
    }
  }

  &__home {
    @include xl-down {
      --studypanel-img-height: 38rem;
    }
    @include lg-down {
      --studypanel-img-height: 30rem;
    }

    @include md-down {
      @include flex-col-center;
      --studypanel-img-height: 39vh;
    }
  }
}
