.pitch {
  @include flex-row-between;
  --gap: 9rem;
  @include gap;
  width: 100%;

  --pitch-overflow-buffer-x-percent: 5%;
  --pitch-overflow-buffer-y-percent: 20%;
  //   dont set these, its JS
  --pitch-overflow-buffer-x: 5%;
  --pitch-overflow-buffer-y: 20%;

  --pitch-transition: 0.85s;

  --pitch-progress-transition: 0.25s;
  --pitch-progress-distance: 2.5rem;

  --pitch-row-margin: var(--section-gap_half);

  --sticky-buffer-offset: 2rem;
  // --sticky-buffer: calc(var(--section-gap_half) / 2);
  --sticky-buffer: calc(((100vh - var(--nav-height)) - (var(--pitch-row-margin) * 2) - var(--pitch-row-height)) / 2);
  --graphics-top: calc(var(--sticky-buffer) + var(--nav-height) - var(--sticky-buffer-offset));

  // increasing this number makes the scrolling slower, like you have to scroll further before the next switch
  --pitch-additional-height: 20rem;

  --pitch-caption-height: 13rem; // set with JS
  --pitch-caption-height-margin: 8rem; // used to add greater margins above and below the body elements within the caption so that they're more spaced out when they transition.

  @include pad-y(var(--section-gap_half));

  @include xxl-down {
    --gap: 5rem;
  }

  @include lg-down {
    @include flex-col-center;
    --gap: 3.35rem;
    --sticky-buffer-offset: 2vh;
    --pitch-additional-height: 14rem;
  }
  @include md-down {
    --gap: 3rem;
    --sticky-buffer-offset: 9vh;
    --pitch-progress-distance: 1rem;
    --pitch-caption-height-margin: 2rem;
    --pitch-additional-height: 20rem;
  }
  @include sm-down {
    --pitch-additional-height: 32rem;
    --sticky-buffer-offset: 13vh;
  }



  .pitch {
    &--row {
      @include marg-y(var(--pitch-row-margin));
      height: var(--pitch-row-height);
      @include flex-col-center;
    }

    &--placeholder {
      height: calc(var(--pitch-row-height) + var(--pitch-additional-height)) !important;


      &:last-child {
        height: calc((var(--pitch-row-height) * 2.25) + var(--pitch-additional-height)) !important;
      }
    }

    &--heading {
      margin-top: calc(var(--section-text-spacing) * 1.75);
      & + * {
        margin-top: 0;
      }

      @include xxl-down {
        margin-top: calc(var(--section-text-spacing) * 1.5);
      }

      @include xl-down {
        margin-top: calc(var(--section-text-spacing));
      }
      @include lg-down {
        margin-top: 0rem;
      }
      //   @include md-down {
      //     // margin-top: calc(var(--section-text-spacing) * 1.75);
      //     margin-top: var(--gap);
      //   }
    }

    &--description {
      margin-top: 0.5rem;

      * {
        @include h3;
        @include weight-reg;

        // @include xl-down{
        //   @include h5;
        // }
      }
    }

    &--graphics-wrapper {
      width: calc(#{col-width(8)} - (var(--gap) / 2));
      @include xl-down {
        width: calc(#{col-width(7.5)} - (var(--gap) / 2));
      }

      @include lg-down {
        position: sticky;
        top: calc(var(--nav-height));

        --m: calc(var(--pitch-row-height) + var(--pitch-row-margin));
        // margin-top: calc(var(--m) * -1);
        // margin-bottom: calc(var(--m) );
        top: calc(var(--graphics-top) + ((var(--pitch-row-progress) * -1) * var(--pitch-progress-distance)));
        transition: var(--pitch-progress-transition);

        // height: calc( var(--pitch-row-height) + var(--gap) + var(--pitch-caption-height));
      }
    }
    &--captions-wrapper {
      width: calc(#{col-width(4)} - (var(--gap) / 2));
      @include xl-down {
        width: calc(#{col-width(4.5)} - (var(--gap) / 2));
      }
    }

    &--column {
      @include lg-down {
        width: 80%;
        @include mx-auto;
      }
      @include md-down {
        width: 90%;
      }
      @include sm-down {
        width: 100%;
      }
    }

    &--graphics {
      position: sticky;
      display: flex;
      top: calc(var(--graphics-top) + ((var(--pitch-row-progress) * -1) * var(--pitch-progress-distance)));
      transition: var(--pitch-progress-transition);

      @include lg-down {
        position: relative;

        --my: calc(var(--pitch-row-margin) * -1);
        margin-top: calc(var(--my));
        margin-bottom: calc(var(--my) + var(--pitch-caption-height) + var(--gap));
        // @include marg-y(0rem);
        top: 0rem;
        // top: calc(var(--graphics-top) + ((var(--pitch-row-progress) * -1) * var(--pitch-progress-distance)) + 20rem);
        transition: none;
      }
    }

    &--laptop {
      z-index: 1;
      position: sticky;
      height: auto !important;
    }

    &--screens {
      position: absolute;
      width: calc(100% - var(--pitch-overflow-buffer-y-percent));
      height: calc(100% - var(--section-gap) - var(--pitch-overflow-buffer-x-percent));
      overflow: hidden;
      background-color: #eaf0f8;
      left: calc((var(--pitch-overflow-buffer-y-percent) / 2));
      top: calc(var(--section-gap_half) + (var(--pitch-overflow-buffer-x-percent) / 2));
    }

    &--mockup {
      --mockup-margin-top: calc(var(--pitch-row-index) * var(--pitch-row-height));

      transition-duration: var(--pitch-transition);

      @include marg-y(0);

      position: absolute;
      z-index: 0;
      width: var(--pitch-row-width);
      height: var(--pitch-row-height);
      left: calc((var(--pitch-overflow-buffer-y) / 2) * -1);
      top: calc((var(--pitch-overflow-buffer-x) / 2) * -1);

      margin-top: calc(var(--mockup-margin-top) - (var(--pitch-current-row) * var(--pitch-row-height)));
    }

    &--body {
      height: var(--pitch-row-height);

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition-duration: var(--pitch-transition);

      --mockup-margin-top: calc(var(--pitch-row-index) * var(--pitch-row-height));

      margin-top: calc(var(--mockup-margin-top) - (var(--pitch-current-row) * var(--pitch-row-height)));

      @include lg-down {
        height: var(--pitch-caption-height);

        --pitch-caption-height_increased: calc(var(--pitch-caption-height) + var(--pitch-caption-height-margin));
        margin-top: calc(
          var(--pitch-row-index) * var(--pitch-caption-height_increased) - (var(--pitch-current-row) * var(--pitch-caption-height_increased))
        );

        @include flex-row;
        justify-content: flex-start;
        align-items: center;
        gap: 2.25rem;
      }

      @include md-down {
        @include flex-col;
        // align-items: unset;
        gap: 0rem;
        text-align: center;
      }
    }

    &--body-inner {
      height: min-content;
      & > * {
        height: min-content;
      }
    }

    &--captions {
      height: var(--pitch-row-height);
      position: sticky;
      --captions-top: calc(var(--nav-height) + var(--sticky-buffer) + var(--section-gap_half) - var(--sticky-buffer-offset));
      @include marg-y(var(--section-gap_half));
      overflow: hidden;
      top: calc(var(--captions-top) + ((var(--pitch-row-progress) * -1) * var(--pitch-progress-distance)));
      transition: var(--pitch-progress-transition);

      @include lg-down {
        // height: var(--pitch-caption-height);
        height: var(--pitch-caption-height);
        margin-top: calc((var(--pitch-caption-height) + var(--gap)) * -1);
        margin-bottom: 0rem;
        --captions-top: calc(var(--graphics-top) + var(--pitch-row-height) + var(--gap));

        width: calc(var(--pitch-screen-width) - 1rem);
        @include mx-auto;
      }
      @include sm-down {
        width: 80%;
      }
    }

    &--vector {
      @include xxl-down {
        --graphic-scale: 0.925;
      }
      @include xl-down {
        --graphic-scale: 0.85;
      }
      @include lg-down {
        --graphic-scale: 1;
        height: min-content;
        width: var(--pitch-vector-width);
        min-width: var(--pitch-vector-width);
        @include flex-row-center;
      }
      @include md-down {
        --graphic-scale: 0.875;
        width: 100%;
        min-width: 100%;
        order: 3;
        margin-top: calc(var(--gap) * 1.125);
        opacity: 0.2575;
      }
    }

    &--empties {
      margin-top: calc((var(--pitch-row-height) + var(--section-gap_half)) * -1);

    }
  }
}
