.pitch {
  @include flex-row-between;
  --gap: 10rem;
  @include gap;
  width: 100%;

  --sticky-buffer: calc(var(--section-gap_half) / 2);
  --pitch-overflow-buffer-x-percent: 5%;
  --pitch-overflow-buffer-y-percent: 20%;
  //   dont set these, its JS
  --pitch-overflow-buffer-x: 5%;
  --pitch-overflow-buffer-y: 20%;

  --pitch-transition: 0.75s;

  --pitch-progress-transition: 0.25s;
  --pitch-progress-distance: 2rem;

  @include pad-y(var(--section-gap_half));

  .pitch {
    &--row {
      @include marg-y(var(--section-gap_half));
      height: var(--pitch-row-height);
      @include flex-col-center;
    }

    &--heading {
      margin-top: calc(var(--section-text-spacing) * 1.75);
      & + * {
        margin-top: 0;
      }
    }

    &--description {
      margin-top: 0.5rem;

      * {
        @include h3;
        @include weight-reg;
      }
    }

    // &--vector {
    //   --mask-size: 7.5rem;
    //   @include mask-width(var(--mask-size));
    // }

    &--graphics {
      position: sticky;
      display: flex;
      // top: calc(var(--nav-height) + var(--sticky-buffer));
      --graphics-top: calc(var(--nav-height) + var(--sticky-buffer));
      top: calc(var(--graphics-top) + ((var(--pitch-row-progress) * -1) * var(--pitch-progress-distance)));
      transition: var(--pitch-progress-transition);

    }

    &--laptop {
      z-index: 1;
      position: sticky;
      height: auto !important;
    }

    &--screens {
      position: absolute;
      width: calc(100% - var(--pitch-overflow-buffer-y-percent));
      height: calc(100% - var(--section-gap) - var(--pitch-overflow-buffer-x-percent));
      overflow: hidden;
      background-color: #eaf0f8;
      left: calc((var(--pitch-overflow-buffer-y-percent) / 2));
      top: calc(var(--section-gap_half) + (var(--pitch-overflow-buffer-x-percent) / 2));

    }

    &--mockup {
      --mockup-margin-top: calc(var(--pitch-row-index) * var(--pitch-row-height));

      transition-duration: var(--pitch-transition);

      @include marg-y(0);

      position: absolute;
      z-index: 0;
      width: var(--pitch-row-width);
      height: var(--pitch-row-height);
      left: calc((var(--pitch-overflow-buffer-y) / 2) * -1);
      top: calc((var(--pitch-overflow-buffer-x) / 2) * -1);

      margin-top: calc(var(--mockup-margin-top) - (var(--pitch-current-row) * var(--pitch-row-height)));
    }

    &--body {
      height: var(--pitch-row-height);

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transition-duration: var(--pitch-transition);

      --mockup-margin-top: calc(var(--pitch-row-index) * var(--pitch-row-height));

      margin-top: calc(var(--mockup-margin-top) - (var(--pitch-current-row) * var(--pitch-row-height)));
    }

    &--captions {
      height: var(--pitch-row-height);
      position: sticky;
      --captions-top: calc(var(--nav-height) + var(--sticky-buffer) + var(--section-gap_half));
      @include marg-y(var(--section-gap_half));
      overflow: hidden;
      top: calc(var(--captions-top) + ((var(--pitch-row-progress) * -1) * var(--pitch-progress-distance)));
      transition: var(--pitch-progress-transition);
    }

    &--empties {
      margin-top: calc((var(--pitch-row-height) + var(--section-gap_half)) * -1);
    }

  }
}
