@mixin popup-scrollbar {
  @include scrollbar {
    width: var(--popup-scrollbar-width);
  }

  @include scrollbar-track {
    background-color: darken($col-tertiary, 5);
  }

  @include scrollbar-thumb {
    background-color: lighten($col-tertiary-light, 10);
  }
}

$col-media-wrapper: rgba($col-background, 0.075);

.popup {
  &--wrapper {
    position: fixed;
    top: var(--nav-height);
    width: 100%;
    height: calc(100% - var(--nav-height));
    z-index: 10;
    @include flex-col-center;
    align-items: center;

    @include trans;

    &__on {
      opacity: 1;
    }

    &__off {
      opacity: 0;
      display: none;
    }

    &__tran {
      opacity: 0;
    }
  }

  &--background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba($col-tertiary, 0.4);
    background-color: rgba($col-tertiary, 0.5);

    &__gallery {
      background-color: rgba($col-tertiary, 0.945);
    }
  }

  // --popup-pad: 2.5rem;
  --popup-pad: 2.5rem;
  --popup-inner-pad: 1.875rem;
  --popup-gap: calc(var(--popup-inner-pad) * 0.8);
  --popup-background: #{$col-background};
  --popup-controls-offset: calc(var(--button-height) / 1.125);
  --lightbox-group-top: calc(var(--popup-controls-offset) * -1);

  --popup-scrollbar-width: 0.75rem;

  z-index: 10;
  display: flex;

  &__interactive {
    width: calc(var(--site-max-width) - var(--popup-pad));
    height: calc(100% - var(--nav-height) - var(--popup-pad));
  }

  &__lightbox,
  &__lightbox-group {
    aspect-ratio: var(--img-aspect-width) / var(--img-aspect-height);
    // max-width: calc(var(--site-max-width) - var(--popup-pad));
    max-width: calc(var(--site-max-width));
    max-height: calc(100% - var(--nav-height) - var(--popup-pad));
    width: auto;
    height: auto;
  }

  &__lightbox-group {
    --popup-pad: 6.5rem;
  }

  &__lightbox-zoom {
    max-height: calc(100% - var(--nav-height) - var(--popup-pad));
    width: calc(var(--site-max-width) - var(--popup-pad));
  }

  &__gallery {
    // max-width: calc(var(--site-max-width));
    --popup-gap: 3rem;
    --popup-height-offset: calc(var(--nav-height) + var(--popup-pad) + 10rem);
    max-width: calc(var(--site-max-width_wide) - 8rem);
    max-height: calc(100% - var(--popup-height-offset));

    width: Min(100%, calc(var(--site-max-width_wide) - 8rem));
    height: Min(100%, calc(100% - var(--popup-height-offset)));
    pointer-events: none;
    position: relative;
    // align-items: center;
  }

  &--inner {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    &__gallery {
      pointer-events: none;
      justify-content: center;
      // @include my-auto;
      // height:fit-content;
    }
  }

  &--content {
    @include b-rad;
    // background-color: var(--popup-background);
    width: 100%;
    @include flex-col-between;
    @include gap(var(--popup-gap));
    position: relative;
    overflow: hidden;
    @include trans;


    &__interactive {
      height: 100%;
    }

    &__lightbox {
      @include no-select;
      --popup-background: #00000000;
    }

    &__lightbox-group {
      top: var(--lightbox-group-top);
    }
    &__lightbox-zoom {
      overflow-y: scroll;
      @include popup-scrollbar;

    }

    &__gallery {
      @include flex-row-center;
      background-color: rgba(0, 0, 0, 0);
      pointer-events: none;
      border-radius: unset;
      overflow: visible;
      max-height: 100%;
    }

    &__gallery-group {
      top: -1.25rem;
    }
  }

  &--info {
    // --w: calc(#{col-width(3.35)} - var(--popup-gap));
    --w: calc(#{col-width(3.55)} - var(--popup-gap));
    width: var(--w);
    min-width: var(--w);
    position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -1rem;
    //   left: -1rem;
    //   right: -1rem;
    //   bottom: -1rem;
    //   @include b-rad;
    //   background-color: $col-media-wrapper;
    // }
  }

  &--description {
    // background-color: $col-background;
    * {
      color: $col-background;
    }
    &__gallery {
      pointer-events: all;
      overflow-y: auto;
      height: var(--gallery-img-height);
      // max-height: Max(100%, var(--gallery-img-height));
      // max-height: Min(var(--gallery-img-max-height), var(--gallery-img-height));
      max-height: var(--gallery-img-max-height);
      // padding-right: calc(var(--popup-gap) / 2);

      @include popup-scrollbar;

      // width:fit-content;

      // these also included changes to the width of the description

      // $desc-pad: 1.5rem;
      // @include b-rad;
      // background-color: rgba($col-media-wrapper,0.05);
      // padding: $desc-pad;
      // --h: calc(var(--gallery-img-height) - #{$desc-pad * 2});
      // max-height: var(--h);
      // padding-right: calc(var(--popup-gap) / 2);

      // $desc-pad: 1.5rem;
      // border-radius: var(--b-rad) 0 0 var(--b-rad);
      // border: $col-media-wrapper 0.0625rem solid;
      // padding: $desc-pad;
      // --h: calc(var(--gallery-img-height) - #{$desc-pad * 2});
      // max-height: var(--h);
      // padding-right: calc(var(--popup-gap) / 2);
    }

    --popup-scrollbar-pad: calc(var(--popup-gap) / 1.45);
    &__gallery-scrollbar {
      padding-right: var(--popup-scrollbar-pad);
    }
  }

  &--header {
    @include flex-row-between;

    &__full {
      margin-top: -0.35rem;
      @include pad-x(var(--popup-inner-pad));
      padding-top: var(--popup-inner-pad);
    }

    &__condensed {
      // background-color: $col-background;
      // border-radius: 0 0 0 var(--b-rad);
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.5s;

      & > * {
        padding: calc(var(--popup-inner-pad) / 4);
        background-color: $col-background;
        border-radius: 0 0 0 var(--b-rad);
      }

    }



    &__lightbox{
      top:0;
    }
    &__lightbox-group{
      top: var(--lightbox-group-top);
    }

    &__lightbox-zoom{
      right: var(--popup-scrollbar-width);
    }



  }

  &--footer {
    @include flex-row-end;
    padding: calc(var(--popup-inner-pad) / 2);
    background-color: $col-background;
    border-radius: var(--b-rad) 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &--nav {
    transition-duration: 0.2s;
    z-index: 15;
  }

  &--title {
    @include flex-col-center;
  }

  &--canvas {
    height: 100%;
    overflow: hidden;
    @include no-select;
    background-color: $col-background_darker;
    cursor: grab;
    @include trans;
    z-index: 1;

    &__grabbed {
      cursor: grabbing;
    }
  }

  &--media-wrapper {
    &__gallery {
      background-color: $col-media-wrapper;
      @include b-rad;

      // width: col-width(8);
      // overflow: hidden;
      // --w: calc(#{col-width(8)} - var(--popup-gap));
      // width: var(--w);
      // min-width: var(--w);
      pointer-events: all;
      overflow: hidden;
    }

    &__gallery-zoom {
      // not being used right now but was added to in the JS because media-wrapper needed to not have pointer-events:all
    }

    &__gallery-group {
      overflow: visible;
    }
  }

  &--media {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto var(--aspect-width) / var(--aspect-height);
    // --popup-background: #{$col-background};
    // background-color: var(--popup-background);
    width: 1000rem;
    // @include trans;
    transition: 0.3s;
    z-index: 2;
    @include b-rad;
    overflow: hidden;
    // pointer-events: none;

    img,
    video {
      @include trans;
      @include img-contain;
      // pointer-events: none;
    }

    &__lightbox-zoom {
      border-radius: var(--b-rad) 0 0 var(--b-rad);
      img {
        height: fit-content;
      }
    }

    &__gallery {
      display: flex;
      width: auto;
    }

    &__gallery-zoom {
      display: flex;
      width: var(--img-avail-width);
      // height: var(--img-avail-height);
      aspect-ratio: unset;
      overflow-y: auto;
      @include popup-scrollbar;
      pointer-events: all;
    }

    &__loading {
      opacity: 0;
    }
  }

  &--img {
    pointer-events: none;

    img {
      pointer-events: none;
    }
  }
}

.popup {
  .gallery {
    &--title {
    }
    &--subheading {
      margin-top: 0.265rem !important;
    }

    &--description {
      // margin-top: 1.375rem;
      margin-top: 1.5rem;
    }
    &--paragraph {
      margin-bottom: 1rem;
    }






    &--categories-wrapper {

      overflow: hidden;
      cursor:pointer;
      // position: relative;

      --ellipse-width: 2rem;

      margin-top: 1.25rem;


      transition: 0.4s!important;
      
      &__overflow{
        width: calc(100% - var(--ellipse-width));
        @include hover{
          width: 100%;
        }
      }

      &__no-overflow{
        cursor: default;
      }



      &__no-desc {
        // margin-top: 0.95rem;
        margin-top: 0.835rem;
      }
      &__no-title {
        margin-top: 0rem;
      }






    }


    &--categories {




      &-inner{
        // flex-wrap: wrap;
        @include flex-row;
        column-gap: 0.95rem;
        width:fit-content;
        --categories-rows: 1;
        --categories-row-gap: 0.85rem;
        row-gap: var(--categories-row-gap);
              
      &__overflow{
        cursor: pointer;
      }

      &__no-overflow{
        cursor: default;
      }

  
      }



      .tag{
        cursor:unset;
      }



    }



    &--ellipse {
      position: absolute;
      top: var(--categories-top);
      right: 0;
      transition: opacity 0.2s!important;

      @include flex-col-end;
      height: var(--tag-height);
      width: var(--ellipse-width);
      align-items: flex-end;
      // pointer-events: none;

      span{
        margin-bottom: -0.3rem;
      }

      
      opacity:1;
      @include hover('.gallery--categories-wrapper', '.gallery--ellipse'){
        opacity:0;
      }

      @at-root .scrollbar .gallery--ellipse{
        right: var(--popup-scrollbar-pad);
      }


    }

    &--button {
      margin-top:1.65rem;
      --button-icon-size: 1.25rem;
      span {
        margin-bottom: -0.1rem;
      }
    }
  }
}

// ui
.popup {
  &--close {
    &__gallery {
      position: absolute;
      pointer-events: all;
      // bottom: calc(100% + 1.5rem);
      // right: -0.75rem;
      bottom: calc(100% + 1.5rem);
      right: -0.75rem;
      // top: -0.55rem;
      // left: calc(100% + 1rem);
    }
  }

  &--controls {
    @include flex-row;
    position: absolute;
    justify-content: center;
    // width: 100%;
    top: calc(100% - var(--popup-controls-offset) + 1.85rem);
    --gap: 1.45rem;
    @include gap;

    &__gallery {
      // top: calc(100% + 1.85rem);
      top: calc(100% + 2rem);
      // left: 50%;
      transform: translate(-50%, 0%);
      pointer-events: all;
    }
  }

  &--seek {
    --popup-seek-spacing: 2rem;
    // position: absolute;
    // z-index: 10;

    a {
      transition: 0.15s;
    }

    &__on a {
      opacity: 1;
      cursor: pointer;
    }

    &__off a {
      opacity: 0.55;
      cursor: default;
      pointer-events: none;
      --button-color: #{desaturate($col-primary, 35)};
    }

    .mask {
      --button-icon-scale: 1.1;
    }
  }

  &--pagination {
    @include flex-row;
    align-items: center;
    --gap: 0.75rem;
    @include gap;
  }

  &--circle {
    transition: 0.2s;
    $px: 0.0625rem;

    width: $px * 22;
    height: $px * 22;
    background-color: $col-background;
    border-radius: 100rem;
    @include flex-row-center;
    align-items: center;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      width: $px * 34;
      height: $px * 34;
      border-radius: 100rem;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &__inactive {
      @include hover {
        background-color: $col-background_darkest;

        & > * {
          background-color: rgba($col-primary, 0.5);
        }
      }

      & > * {
        background-color: $col-background;
      }
    }

    &__active {
      @include hover {
        background-color: $col-background_darkest;
        & > * {
          background-color: $col-primary_hovered;
        }
      }
      & > * {
        background-color: $col-primary;
      }
    }
  }

  &--circle-inner {
    transition: 0.2s;

    $px: 0.0625rem;
    width: $px * 14;
    height: $px * 14;
    border-radius: 100rem;
  }
}

.popup {
  .loading {
    &--wrapper {
      // background-color: rgba($col-background, 0.075);
      @include b-rad;

      width: var(--img-max-width);
      height: var(--img-max-height);

      position: relative;

      margin-top: calc(var(--img-max-height) * -1);

      transition: opacity 0.3s;
      opacity: 1;

      &__zoom {
        width: var(--img-avail-width);
      }

      &__lightbox-zoom {
         position:absolute;
         top:0;
         margin: unset;
      }

      &__hidden {
        opacity: 0;
      }
    }

    &--img {
      --size: 15rem;
      @include s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;

      img {
        @include img-contain;
      }
    }
  }
}
