@mixin popup-scrollbar {
  @include scrollbar {
    width: 0.75rem;
  }

  @include scrollbar-track {
    background-color: darken($col-tertiary, 5);
  }

  @include scrollbar-thumb {
    background-color: lighten($col-tertiary-light, 10);
  }
}

.popup {
  &--wrapper {
    position: fixed;
    top: var(--nav-height);
    width: 100%;
    height: calc(100% - var(--nav-height));
    z-index: 10;
    @include flex-col-center;
    align-items: center;

    @include trans;

    &__on {
      opacity: 1;
    }

    &__off {
      opacity: 0;
      display: none;
    }

    &__tran {
      opacity: 0;
    }
  }

  &--background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba($col-tertiary, 0.4);
    background-color: rgba($col-tertiary, 0.5);

    &__gallery {
      background-color: rgba($col-tertiary, 0.945);
    }
  }

  // --popup-pad: 2.5rem;
  --popup-pad: 2.5rem;
  --popup-inner-pad: 1.875rem;
  --popup-gap: calc(var(--popup-inner-pad) * 0.8);
  --popup-background: #{$col-background};

  --popup-controls-offset: calc(var(--button-height) / 1.125);

  z-index: 10;
  display: flex;

  &__interactive {
    width: calc(var(--site-max-width) - var(--popup-pad));
    height: calc(100% - var(--nav-height) - var(--popup-pad));
  }

  &__lightbox,
  &__lightbox-group {
    aspect-ratio: var(--img-aspect-width) / var(--img-aspect-height);
    // max-width: calc(var(--site-max-width) - var(--popup-pad));
    max-width: calc(var(--site-max-width));
    max-height: calc(100% - var(--nav-height) - var(--popup-pad));
    width: auto;
    height: auto;
  }

  &__lightbox-group {
    --popup-pad: 6.5rem;
  }

  &__lightbox-zoom {
    max-height: calc(100% - var(--nav-height) - var(--popup-pad));
    width: calc(var(--site-max-width) - var(--popup-pad));
  }

  &__gallery {
    // max-width: calc(var(--site-max-width));
    --popup-gap: 3rem;
    --popup-height-offset: calc(var(--nav-height) + var(--popup-pad) + 10rem);
    max-width: calc(var(--site-max-width_wide) - 8rem);
    max-height: calc(100% - var(--popup-height-offset));
    width: auto;
    height: auto;
    pointer-events: none;
  }

  &--inner {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    &__gallery {
      pointer-events: none;
    }
  }

  &--content {
    @include b-rad;
    background-color: var(--popup-background);
    width: 100%;
    @include flex-col-between;
    @include gap(var(--popup-gap));
    position: relative;
    overflow: hidden;
    @include trans;

    &__interactive {
      height: 100%;
    }

    &__lightbox {
      @include no-select;
      --popup-background: #00000000;
    }

    &__lightbox-group {
      top: calc(var(--popup-controls-offset) * -1);
    }
    &__lightbox-zoom {
      overflow-y: scroll;
    }

    &__gallery {
      @include flex-row-center;
      background-color: rgba(0, 0, 0, 0);
      pointer-events: none;
      border-radius: unset;
      overflow: visible;
      max-height: 100%;
    }

    &__gallery-group {
      top: -2rem;
    }




  }


  &--info{
    --w: calc(#{col-width(3.35)} - var(--popup-gap));
    width: var(--w);
    min-width: var(--w);
  }

  &--description {
    // background-color: $col-background;
    * {
      color: $col-background;
    }
    &__gallery {

      // comment this later
      // --w: calc(#{col-width(3.35)} - var(--popup-gap));
      // width: var(--w);
      // min-width: var(--w);
  

      pointer-events: all;
      height: var(--gallery-img-height);
      max-height: Max(100%, var(--gallery-img-height));
      overflow-y: auto;
      padding-right: calc(var(--popup-gap) / 2);

      @include popup-scrollbar;
    }
  }

  &--header {
    @include flex-row-between;

    &__full {
      margin-top: -0.35rem;
      @include pad-x(var(--popup-inner-pad));
      padding-top: var(--popup-inner-pad);
    }

    &__condensed {
      // background-color: $col-background;
      // border-radius: 0 0 0 var(--b-rad);
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.5s;

      & > * {
        padding: calc(var(--popup-inner-pad) / 4);
        background-color: $col-background;
        border-radius: 0 0 0 var(--b-rad);
      }

      // .mask{
      //   background-color: $col-background;
      // }
    }
  }

  &--footer {
    @include flex-row-end;
    padding: calc(var(--popup-inner-pad) / 2);
    background-color: $col-background;
    border-radius: var(--b-rad) 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &--nav {
    transition-duration: 0.2s;
    z-index: 15;
  }

  &--title {
    @include flex-col-center;
  }

  &--canvas {
    height: 100%;
    overflow: hidden;
    @include no-select;
    background-color: $col-background_darker;
    cursor: grab;
    @include trans;
    z-index: 1;

    &__grabbed {
      cursor: grabbing;
    }
  }

  &--media-wrapper {
    &__gallery {
      background-color: rgba($col-background, 0.075);
      @include b-rad;

      // width: col-width(8);
      // overflow: hidden;
      // --w: calc(#{col-width(8)} - var(--popup-gap));
      // width: var(--w);
      // min-width: var(--w);
      pointer-events: all;
      overflow: hidden;
    }
    
    &__gallery-group {
      overflow: visible;
    }
  }

  &--media {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: auto var(--aspect-width) / var(--aspect-height);
    // --popup-background: #{$col-background};
    // background-color: var(--popup-background);
    width: 1000rem;
    // @include trans;
    transition: 0.3s;
    z-index: 2;
    @include b-rad;
    overflow: hidden;
    // pointer-events: none;

    img,
    video {
      @include trans;
      @include img-contain;
      // pointer-events: none;
    }

    &__lightbox-zoom {
      img {
        height: fit-content;
      }
    }

    &__gallery {
      display: flex;
      width: auto;
      // min-width: Min(fit-content,100%);
    }

    &__loading {
      opacity: 0;
    }
  }

  &--img {
    pointer-events: none;

    img {
      pointer-events: none;
    }
  }
}

.popup {
  .gallery {
    &--title {
    }
    &--subheading {
      margin-top: 0.515rem !important;
    }

    &--description {
      margin-top: 1.375rem;
    }
    &--paragraph {
      margin-bottom: 1rem;
    }
    &--categories {
      margin-top: 1.7rem;
      @include flex-row;
      flex-wrap: wrap;
      column-gap: 0.95rem;
      row-gap: 0.85rem;

      &__no-desc {
        margin-top: 0.95rem;
      }
    }
  }
}

// ui
.popup {
  &--controls {
    @include flex-row;
    position: absolute;
    justify-content: center;
    // width: 100%;
    top: calc(100% - var(--popup-controls-offset) + 1.85rem);
    --gap: 1.45rem;
    @include gap;

    &__gallery {
      // top: calc(100% + 1.85rem);
      top: calc(100% + 2rem);
      // left: 50%;
      transform: translate(-50%, 0%);
      pointer-events: all;
    }


  }

  &--seek {
    --popup-seek-spacing: 2rem;
    // position: absolute;
    // z-index: 10;

    a {
      transition: 0.15s;
    }

    &__on a {
      opacity: 1;
      cursor: pointer;
    }

    &__off a {
      opacity: 0.55;
      cursor: default;
      pointer-events: none;
      --button-color: #{desaturate($col-primary, 35)};
    }

    .mask {
      --button-icon-scale: 1.1;
    }
  }

  &--pagination {
    @include flex-row;
    align-items: center;
    --gap: 0.75rem;
    @include gap;
  }

  &--circle {
    transition: 0.2s;
    $px: 0.0625rem;

    width: $px * 22;
    height: $px * 22;
    background-color: $col-background;
    border-radius: 100rem;
    @include flex-row-center;
    align-items: center;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      width: $px * 34;
      height: $px * 34;
      border-radius: 100rem;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }

    &__inactive {
      @include hover {
        background-color: $col-background_darkest;

        & > * {
          background-color: rgba($col-primary, 0.5);
        }
      }

      & > * {
        background-color: $col-background;
      }
    }

    &__active {
      @include hover {
        background-color: $col-background_darkest;
        & > * {
          background-color: $col-primary_hovered;
        }
      }
      & > * {
        background-color: $col-primary;
      }
    }
  }

  &--circle-inner {
    transition: 0.2s;

    $px: 0.0625rem;
    width: $px * 14;
    height: $px * 14;
    border-radius: 100rem;
  }
}

.popup {
  .loading {
    // &--loading {
    //   position: absolute;
    //   // @include trans;

    //   --size: 15rem;
    //   @include s;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   // z-index:1;
    //   z-index: 0;

    //   background-color: $col-background;
    //   @include b-rad;

    //   img {
    //     @include img-contain;
    //   }

    //   &__on {
    //     opacity: 1;
    //   }

    //   &__off {
    //     opacity: 0;
    //     display: none;
    //   }

    //   &__tran {
    //     opacity: 0;
    //   }
    // }

    &--wrapper {
      // background-color: rgba($col-background, 0.075);
      @include b-rad;

      width: var(--img-max-width);
      height: var(--img-max-height);

      position: relative;

      margin-top: calc(var(--img-max-height) * -1);

      transition: opacity 0.3s;
      opacity: 1;

      &__hidden {
        opacity: 0;
      }
    }

    &--img {
      --size: 15rem;
      @include s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;

      img {
        @include img-contain;
      }
    }
  }
}




