// TODO: i don't think quote needs to be integrated into section in this way at all in terms of the css, it could probably be seperated out of the section component too


$quote-padding: 1.75rem;


.section{

    &--quote {
        * {
          @include quote;
        }
    
        &__color {
          padding: $quote-padding;
        }
      }
    
}




.quote-table{

    --quote-table-cell-margin-top: 1.875rem;
    --quote-table-heading-margin-bottom: 1.25rem;

    display:grid;
    grid-template-columns: repeat(2, 1fr);

    &--heading{
        margin-bottom: -1.15rem;
    }

    &--subheading{
        margin-top:3.5rem;
        margin-bottom: calc( var(--quote-table-heading-margin-bottom) - var(--quote-table-cell-margin-top) );
    }


    &--cell{
        padding: $quote-padding;
        margin-top: var(--quote-table-cell-margin-top);
    }


    &__primary{
        background-color: $col-background;
    }

    &__secondary{
        background-color: #ECECF3;
    }

}