@mixin section--heading-bottom-margin($m) {
  &.text--#{$m} + * {
    margin-top: var(--font-margin-bottom-#{$m});
  }
}

@mixin section-chapter-wrapper{
  margin-top: var(--section-gap);
  position: relative;
}



:root {
  --section-gap: 12.5rem;
  --section-gap_half: calc(var(--section-gap) / 2);
}



.chapter{
  &--wrapper{
    @include section-chapter-wrapper;
  }
}



.section {
  --section-text-spacing: 1.25rem;

  &--wrapper{
    @include section-chapter-wrapper;
  }

  @include flex-row;

  &--title {
    & + * {
      margin-top: var(--font-margin-bottom-h4);
    }
  }

  &--heading {
    @include section--heading-bottom-margin(h1);
    @include section--heading-bottom-margin(h2);
    @include section--heading-bottom-margin(h3);
    @include section--heading-bottom-margin(h4);
  }

  &--copy {
    @include flex-col-center;
  }

  &--description {
    & > * + * {
      margin-top: var(--section-text-spacing);
    }
  }

  .graphic {

    &--panel{
      @include b-rad;
      @include flex-row-center;
      padding: 2.5rem;
    }

    &--caption{
      margin-top: var(--section-text-spacing);
    }



    img {
      @include img-contain;
    }




  }

  
  &--main {
    @include flex-row;
    margin-top: calc(var(--section-text-spacing)*1.75);
  }



  .column{

    &--arrow{
      .mask{
        @include mask-width(1.5rem,!important);
        background-color: $col-primary!important;
      }

    }
  }


}




// Type variants
.section {
  &__overview {
    justify-content: space-between;

    --gap: 6rem;
    @include gap;

    .section--graphic {
      opacity: 0.3;
    }
  }

  &__pitch {
    @include flex-row-between;

    --gap: 10rem;
    @include gap;

    .section--heading {
      margin-top: calc(var(--section-text-spacing) * 2);
      & + * {
        margin-top: 0;
      }
    }

    .section--description {
      margin-top: 0.5rem;
      @include h3;
      @include weight-reg;
    }

    .mask {
      // --mask-aspect-width;
      // --mask-aspect-height;
      --mask-size: 7.5rem;
      @include mask-width(var(--mask-size));
    }

    .section--graphic {
      padding-left: 2rem;
    }
  }
}














// Color variants

.section {
  &__color,
  &__image {
    @include pad-y(var(--section-gap));

    &:not(.background__background) *{
      color: $col-background;
    }

    & + & {
      margin-top: 0;
    }
  }
}

.chapter {
  &__color {
    // TODO: fix this ugly ass selector
    & > * > *:not(.background__background) {
      * {
        color: $col-background;
      }
      .mask {
        background-color: $col-background;
      }
    }
  }
}




.background {
  &__color {
  }

  &__background {
    background-color: $col-background;
  }

  &__background-darker {
    background-color: $col-background_darker;
  }

  &__primary {
    background-color: $col-primary;
  }

  &__makeright-tertiary {
    background-color: $col-tertiary_makeright;
  }
}










.test{

  display:grid;



}