@mixin section--heading-bottom-margin($m) {
  &.text--#{$m} + * {
    margin-top: var(--font-margin-bottom-#{$m});
  }
  &.text--#{$m} + *.mt-less {
    margin-top: var(--font-margin-bottom-#{$m}_less);
  }
}

@mixin section-chapter-wrapper {
  margin-top: var(--section-gap);
  position: relative;
}

:root {
  --section-gap: 12.5rem;
  --section-gap_half: calc(var(--section-gap) / 2);
}

.chapter {
  &--wrapper {
    @include section-chapter-wrapper;
  }
}

.section {
  --section-text-spacing: 1.25rem;
  --section-graphic-panel-pad: 2.5rem;

  --section_title-above-offset: -0.425rem;
  // --section-column-arrow-height: 1.7rem;

  &--wrapper {
    @include section-chapter-wrapper;
  }

  @include flex-row;

  &--title {
    & + * {
      margin-top: var(--font-margin-bottom-h4);
    }
  }

  &--heading {
    @include section--heading-bottom-margin(h1);
    @include section--heading-bottom-margin(h2);
    @include section--heading-bottom-margin(h3);
    @include section--heading-bottom-margin(h4);

    &__title-above {
      margin-top: var(--section_title-above-offset);
    }
  }

  &--copy {
    @include flex-col-center;
  }

  &--description {
    & > * + * {
      margin-top: var(--section-text-spacing);
    }
    & > * + *.mt-less {
      margin-top: calc(var(--section-text-spacing) * 0.15);
    }

    ol,
    ul {
      --counter-width: 1.5rem;
      & > * + * {
        margin-top: var(--section-text-spacing);
      }
      & > * + *.mt-less {
        margin-top: calc(var(--section-text-spacing) * 0.35);
      }

      list-style-position: inside;
    }

    li {
      span {
        display: block;
        margin-top: calc(var(--font-height-body) * -1);
        width: calc(100% - var(--counter-width));
        padding-left: var(--counter-width);
      }
    }

    &__color {
      @include b-rad;
      padding: 2.25rem;
    }
  }

  .graphic {
    --img-panel-height: 12rem;

    --graphic-width: #{mask-width(11.5rem)};
    --graphic-height: Max(100%, calc((var(--graphic-width)) * (var(--mask-aspect-height) / var(--mask-aspect-width))));

    &--img {
      display: flex;
      img {
        @include img-contain;
      }
    }

    &--panel {
      height: var(--img-panel-height);
      @include b-rad;
      @include flex-row-center;
      padding: var(--section-graphic-panel-pad);
      align-items: center;

      .mask {
        height: fit-content;
        height: var(--graphic-height);
        width: var(--graphic-width);
        background-color: $col-tertiary;
      }

      &__flexible {
        height: 100% !important;
        padding: 0;
      }
    }

    &--caption {
      margin-top: var(--section-text-spacing);


      
      &__above {
        margin-top: 0;
        margin-bottom: calc(var(--section-text-spacing) * 0.5);
      }
      
      &__split {
        @include flex-row-between;
        align-items: flex-end;
        & > * + * {
          margin: 0;
        }
      }
      


      &.mt-more {
        margin-top: calc(var(--section-text-spacing) * 1.2);
      }
    }
    

    &__container {
      padding: 0;

      img,
      .mask {
        margin: var(--section-graphic-panel-pad);
      }
    }

    &__lightbox {
      cursor: zoom-in;

      img {
        @include trans;
        transform: scale(1);

        @include hover(".graphic__lightbox", "img") {
          transform: scale(1.025);
        }
      }
    }
  }

  &--main {
    @include flex-row;
    margin-top: calc(var(--section-text-spacing) * 1.75);

    &.mt-less {
      margin-top: calc(var(--section-text-spacing) * 1.25);
    }

    &__grid {
      display: grid;
    }

    &__title-above {
      margin-top: calc((var(--section_title-above-offset) * -1) + var(--font-margin-bottom-h4));
    }
  }

  .column {
    // When you add a min width of any value to a column, preferably a value that it wont ever reach cause its such a small number, then the column's width appears to lock at the width it should be, i.e. 2 columns at 50% width, 3 columns at 33.3333%, and so on. not sure why! but it works!
    min-width: 0.1rem;
    position: relative;
  }
}

// Type variants
.section {
  &__overview {
    justify-content: space-between;

    --gap: 6rem;
    @include gap;

    .section--graphic {
      opacity: 0.3;
    }
  }

  &__pitch {
    @include flex-row-between;
    --gap: 10rem;
    @include gap;

    .section--heading {
      margin-top: calc(var(--section-text-spacing) * 2);
      & + * {
        margin-top: 0;
      }
    }

    .section--description {
      margin-top: 0.5rem;

      * {
        @include h3;
        @include weight-reg;
      }
    }

    .section--graphic {
      // padding-left: 2rem;
    }

    .mask {
      // --mask-aspect-width;
      // --mask-aspect-height;
      --mask-size: 7.5rem;
      @include mask-width(var(--mask-size));
    }
  }
}

// Color variants

.section {
  &__color,
  &__image {
    @include pad-y(var(--section-gap));

    &:not(.background__background) * {
      color: $col-background;
    }

    & + & {
      margin-top: 0;
    }
  }
}

.chapter {
  &__color {
    // TODO: fix this ugly ass selector
    & > * > *:not(.background__background) {
      * {
        color: $col-background;
      }
      .mask {
        background-color: $col-background;
      }
    }
  }
}

.background {
  &__color {
  }

  &__background {
    background-color: $col-background;
  }

  &__background-darker {
    background-color: $col-background_darker;
    // TODO: move this to a general class applied to all of these
    & + & {
      padding-top: 0;
    }
  }

  &__background-darkest {
    background-color: $col-background_darkest;
    & + & {
      padding-top: 0;
    }
  }

  &__primary {
    background-color: $col-primary;
    & + & {
      padding-top: 0;
    }
  }

  &__makeright-tertiary {
    background-color: $col-tertiary_makeright;
    & + & {
      padding-top: 0;
    }
  }

  &__tertiary {
    background-color: $col-tertiary;
    & + & {
      padding-top: 0;
    }
  }

  &__tertiary-light {
    background-color: $col-tertiary-light;
    & + & {
      padding-top: 0;
    }
  }
}

// .TEST----THING{
//   background-color:red;
//   transform: scale(20);
// }
