.slideshow {
  --slide-inner-pad: 2.5rem;
  --slide-scrollbar-width: 0.65rem;
  --slide-max-height: calc(100% * var(--img-aspect-height) / var(--img-aspect-width));
  --slide-inner-item-spacing: calc(var(--section-text-spacing) * 0.25);
  --slide-transition: 0.5s;

  width: 100%;

  &--header {
    margin-bottom: var(--font-margin-bottom-h2);

    @include flex-row-between;
    align-items: end;
  }
}

.slideshow {
  .card {
    @include flex-row;
    @include b-rad;
    overflow: hidden;
    background-color: $col-tertiary-light;

    // @include gap(var(--slide-inner-pad));

    &--title {
      // margin-top: 0.3rem!important;
      margin-bottom: -0.4rem !important;
    }

    &--subtitle {
      margin-bottom: -0.15rem;
    }

    &--description {
      @include pad-y(var(--slide-inner-pad));
      overflow-y: auto;
      position: relative;
      max-height: calc(var(--graphic-height) - var(--slide-inner-pad) * 2);

      --width: #{col-width(4)};
      width: calc(var(--width) + (var(--slide-inner-pad) * 2));
      min-width: var(--width);
      overflow-x: hidden;
      z-index: 0;
      transition-duration: var(--slide-transition);

      & > * + * {
        margin-top: calc(var(--section-text-spacing) * 0.75);
      }

      @include scrollbar {
        width: var(--slide-scrollbar-width);
      }

      @include scrollbar-track {
        background-color: darken($col-tertiary, 5);
      }

      @include scrollbar-thumb {
        background-color: lighten($col-tertiary-light, 10);
      }

      &__on {
        margin-left: 0;
      }

      &__off {
        margin-left: calc(var(--width) * -1 - var(--slide-inner-pad) * 2);
      }
    }

    &--description-inner {
      position: absolute;
      padding-bottom: var(--slide-inner-pad);
      //   padding-right: var(--slide-inner-pad);
      transition-duration: var(--slide-transition);
      width: calc(100% - (var(--slide-inner-pad) * 2));
      --val: 0%;
      left: calc(var(--val) + var(--slide-inner-pad));
      right: calc((var(--val) * -1));

      &__on {
        // --val: 0%;
      }

      &__off {
        // --val: -100%;
      }
    }

    &--graphic {
      // provided in js
      // --img-aspect-width:
      // --img-aspect-height:
      // same as --img-aspect-width, and --img-aspect-height but in px
      // --img-width:
      // --img-height:

      position: relative;
      aspect-ratio: var(--img-aspect-width) / var(--img-aspect-height);

      min-width: calc(#{col-width(8)} - (var(--slide-inner-pad) * 2));
      max-height: var(--slide-max-height);
      height: var(--slide-max-height);
      background-color: $col-tertiary-light;
      overflow-y: auto;
      transition-duration: var(--slide-transition);
      z-index: 1;

      @include scrollbar {
        width: var(--slide-scrollbar-width);
      }

      @include scrollbar-track {
        background-color: $col-background;
      }

      @include scrollbar-thumb {
        background-color: $col-primary;
      }

      &__off {
        width: 100%;
      }

      &__on {
        width: calc(#{col-width(8)} - (var(--slide-inner-pad) * 2));
      }
    }

    &--img {
    }

    &--paragraph {
      &:nth-child(2) {
        margin-top: var(--slide-inner-item-spacing);
      }

      margin-top: calc(var(--section-text-spacing) * 0.75);
    }

    &--subheading {
      margin-top: calc(var(--section-text-spacing) * 1.85);
    }
  }
}

.slideshow {
  .list {
    --counter-width: 0.9rem;

    margin-top: var(--slide-inner-item-spacing);

    &--item {
      margin-top: var(--slide-inner-item-spacing);
    }
  }
}
