@mixin slider-thumb{
  &::-webkit-slider-thumb{
    @content;
  }
  
  
  
  &::-moz-range-thumb{
    @content;
  }


}





.slideshow {
  --slide-inner-pad: 2.5rem;
  --slide-scrollbar-width: 0.65rem;
  --slide-max-height: calc(100% * var(--img-aspect-height) / var(--img-aspect-width));
  --slide-inner-item-spacing: calc(var(--section-text-spacing) * 0.25);
  --slide-transition: 0.5s;

  width: 100%;

  &--header {
    margin-bottom: var(--font-margin-bottom-h2);

    @include flex-row-between;
    align-items: flex-end;
  }

  // &--container{
  //   position:relative;
  //   min-width: var(--site-max-width);
  //   @include flex-row;
  //   height: var(--slide-max-height);
  // }

  // &--card{
  //   position: absolute;
  //   width: var(--site-max-width);
  //   max-width: var(--site-max-width);
  //   left: calc((100% - var(--site-max-width)) / 2);
  //   top:0;
  // }

  --site-x-margin: calc((100% - var(--site-max-width)) / 2);
  --card-gap: 8vw;
  --card-width: calc(var(--site-max-width) + var(--card-gap));
  // --card-computed-width: 0px;


  &--container {
    min-width: var(--site-max-width);
    @include flex-row;
    // overflow-x: scroll;
    width: 100%;
    transition-duration: 2s;
    // scroll-snap-type: x mandatory;
    // scroll-behavior: smooth;
    overflow-x:hidden;

    @include scrollbar {
      // display: none;
    }


    &__visible{}
    &__hide{
      opacity: 0;
    }
  }



  &--card {
    min-width: var(--site-max-width);
    width: var(--site-max-width);
    height: fit-content;

    margin-right: calc( var(--card-gap) / 2);
    margin-left: calc( var(--card-gap) / 2);
    scroll-snap-align: center;



    transition: 2s;
    &__active{
      opacity: 1;
    }
    &__inactive{
      opacity: 0.3;
    }


  }

  &--empty {
    transition-duration: 2s;
    --width: calc(var(--site-x-margin) - var(--card-gap) / 2);
    width: var(--width);
    min-width: var(--width);
  }

  &--slider{
    @include flex-row-center;
    align-items: center;
    margin-top:3.5rem;
    gap:3rem;
  }


}

.slideshow {
  .card {
    @include flex-row;
    @include b-rad;
    overflow: hidden;
    background-color: $col-tertiary-light;

    // @include gap(var(--slide-inner-pad));

    &--title {
      // margin-top: 0.3rem!important;
      margin-bottom: -0.4rem !important;
    }

    &--subtitle {
      margin-bottom: -0.15rem;
    }

    &--description {
      @include pad-y(var(--slide-inner-pad));
      overflow-y: auto;
      position: relative;
      // max-height: calc(var(--slideshow-graphic-height) - var(--slide-inner-pad) * 2);

      --width: #{col-width(4)};
      width: calc(var(--width) + (var(--slide-inner-pad) * 2));
      min-width: var(--width);
      overflow-x: hidden;
      z-index: 0;
      transition-duration: var(--slide-transition);

      & > * + * {
        margin-top: calc(var(--section-text-spacing) * 0.75);
      }

      @include scrollbar {
        width: var(--slide-scrollbar-width);
      }

      @include scrollbar-track {
        background-color: darken($col-tertiary, 5);
      }

      @include scrollbar-thumb {
        background-color: lighten($col-tertiary-light, 10);
      }

      &__on {
        margin-left: 0;
      }

      &__off {
        margin-left: calc(var(--width) * -1 - var(--slide-inner-pad) * 2);
      }
    }

    &--description-inner {
      position: absolute;
      padding-bottom: var(--slide-inner-pad);
      //   padding-right: var(--slide-inner-pad);
      transition-duration: var(--slide-transition);
      width: calc(100% - (var(--slide-inner-pad) * 2));
      --val: 0%;
      left: calc(var(--val) + var(--slide-inner-pad));
      right: calc((var(--val) * -1));

      &__on {
        // --val: 0%;
      }

      &__off {
        // --val: -100%;
      }
    }

    &--graphic {
      // provided in js
      // --img-aspect-width:
      // --img-aspect-height:
      // same as --img-aspect-width, and --img-aspect-height but in px
      // --img-width:
      // --img-height:

      position: relative;
      aspect-ratio: var(--img-aspect-width) / var(--img-aspect-height);

      min-width: calc(#{col-width(8)} - (var(--slide-inner-pad) * 2));
      max-height: var(--slide-max-height);
      height: var(--slide-max-height);
      background-color: $col-tertiary-light;
      overflow-y: auto;
      transition-duration: var(--slide-transition);
      z-index: 1;

      @include scrollbar {
        width: var(--slide-scrollbar-width);
      }

      @include scrollbar-track {
        background-color: $col-background;
      }

      @include scrollbar-thumb {
        background-color: $col-primary;
      }

      &__off {
        width: 100%;
      }

      &__on {
        width: calc(#{col-width(8)} - (var(--slide-inner-pad) * 2));
      }
    }


    
    &--paragraph {
      &:nth-child(2) {
        margin-top: var(--slide-inner-item-spacing);
      }

      margin-top: calc(var(--section-text-spacing) * 0.75);
    }

    &--subheading {
      margin-top: calc(var(--section-text-spacing) * 1.85);
    }









    &__on {
    }

    &__off {
      opacity: 0.35;
    }
  }




}

.slideshow {
  .list {
    --counter-width: 0.9rem;

    margin-top: var(--slide-inner-item-spacing);

    &--item {
      margin-top: var(--slide-inner-item-spacing);
    }
  }
}



.slideshow {
  .slider {


    --slider-bar-height: 0.25rem;
    --slider-thumb-size: 1.875rem;
    // --slider-thumb-size: 1rem;


      width:70%;
      @include flex-row-center;
      align-items: center;
      position: relative;
  



    // &--input{
    //   width:85%;
    //   -webkit-appearance: none;
    //   appearance: none;
  
    //   height: var(--slider-bar-height);

    //   border-radius: 100rem;

    // }


    &--bar{
      width:100%;
      border-radius: 10rem;
      height: var(--slider-bar-height);
      background-color: $col-background;
      position:relative;
    }





    &--handle{

      --slider-handle-left: 0px;

      position: absolute;
      --size: var(--slider-thumb-size);
      @include s;
      border-radius:100rem;
      background-color: $col-background;
      top: calc(50% - (var(--size) / 2));
      left: calc(var(--slider-handle-left) - (var(--size) / 2));
      @include trans;
      z-index: 1;
      cursor: grab;


      &__active{
        cursor: grabbing;
      }
      
      
      

    }


    &--notch{
      // --slider-min
      // --slider-max
      // --slider-notch-index
      position: absolute;

      --size: calc(var(--slider-thumb-size) / 2);
      @include s;
      border-radius:100rem;
      background-color: $col-background;
      top: calc(50% - (var(--size) / 2));

      z-index: 0;

      // left: calc(var(--slider-notch-left) - (var(--size) / 2));
      // left: calc((100% / var(--slider-max)) - (var(--size) / 2));
      
      --end: calc(100% - (var(--size)/2));
      --start: calc(0% - (var(--size)/2));

      left: calc(var(--start) + (var(--end) - var(--start)) * (var(--slider-notch-index) / var(--slider-max)));

    }

    





  }
}
