.split {
  background-color: $col-background_darker;
  @include b-rad;
  height: 100%;
  width: 100%;
  position: relative;
  --line-width: 0.5rem;

  --split-graphic-scale:1;
  
  transition: 0.2s;
  &:hover, &:focus, &.hover {
    background-color: $col-background_darkest;
    --split-graphic-scale:0.985;
  }

  
  &--viewer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }

  &--graphic {
    transition: 0.2s;
    width: calc(var(--split-width) * var(--split-graphic-scale));
    @include mx-auto;
    height: 100%;
  }

  &--division {
    width: 100%;
    height: 100%;
    cursor: ew-resize;
  }

  &--line {
    position: absolute;
    width: var(--line-width);
    height: 100%;
    background-color: $col-secondary;
    --min: calc(100% - var(--line-width));
    left: var(--split-progress);
    top: 0;
  }

  &--handle {
    --size: 2.625rem;
    @include s;
    @include b-rad(100rem);
    background-color: $col-secondary;
    position: absolute;
    top: calc(50% - (var(--size) / 2));
    left: calc((var(--line-width) / 2) - (var(--size) / 2));
  }

  &--inner {
    --inner-size: calc(var(--size) - (var(--line-width) * 2) - 0.0625rem);
    width: var(--inner-size);
    height: var(--inner-size);
    @include b-rad(100rem);
    background-color: $col-background;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--before {
    left: 0 ;
    width: var(--split-before-width);

    & > .graphic {
      position: absolute;
      left: calc((var(--split-width) - (var(--split-width) * var(--split-graphic-scale))) / 2 );
    }
  }

  &--after {
    right: 0;
    width: var(--split-after-width);

    & > .graphic {
      position: absolute;
      right: calc((var(--split-width) - (var(--split-width) * var(--split-graphic-scale))) / 2 );
    }
  }




  &--label{
    position: absolute;
    @include h4;
    transition: 0.2s;
    
    opacity: 0;
    // @at-root .split:hover &, .split:focus &, .split.hover & {
      // opacity: 1;
    // }


    &__before{
      left:1rem;
      top: 1rem;
    }

    &__after{
      right:1rem;
      top: 1rem;
    }
  }



  &__square{
    height: unset;
    aspect-ratio: 1 / 1;

  }

}
