.tag {
  &--group {
    @include flex-row;
    --tag-spacing: 1rem;

    & > * + * {
      margin-left: var(--tag-spacing);
    }
  }


  font-size: var(--font-size-h4);
  padding: 0.4rem 0.5rem 0.25rem 0.5rem;
  border: 0.125rem solid $col-primary;
  border-radius: var(--b-rad_less);
}
