.tag {

  &--group {
    @include flex-row;
    --tag-spacing: 1rem;

    & > * + * {
      margin-left: var(--tag-spacing);
    }
  }


  font-size: var(--font-size-h4);
  border: 0.125rem solid $col-primary;
  border-radius: var(--b-rad_less);
  background-color: $col-background;

  padding: 0.4rem 0.5rem 0.25rem 0.5rem;
  
  @include mac{
    padding: 0.25rem 0.5rem 0.365rem 0.5rem;
  }


  
  @include s;
  --size: fit-content;
  
  white-space: nowrap;

  
  
  
  cursor: default;
  @include no-select;
  
  &__tool{
    padding: 0.4rem 0.55rem 0.25rem 0.55rem;
    border-radius: 100rem;
  }

  &__inverted{
    border: 0.125rem solid $col-background;;
    background-color: rgba(0,0,0,0);
      color: $col-background!important;
  }


}
