#Explorations {


  @include md-down{
    --section-gap: 8rem;
  }

  .indicator {
      display:none;
  }
  .brief {
      display:none;
  }

  .studypanel {
    --studypanel-img-height: 26rem;

    &__study {
      margin-top: 4.5rem;
      margin-bottom: 4.5rem;
    }
  }

  .section {

    &--heading *{
      color: $col-primary;
    }

    
    &--main {
      grid-template-columns: repeat(3, 1fr);


      @include lg-down {
        grid-template-columns: repeat(2, 1fr);
        gap:2rem!important;
        margin-top: calc(var(--section-text-spacing) * 1.35)
      }

      @include sm-down {
        grid-template-columns: repeat(1, 1fr);
      }

    }
  }

  .gallery {
    &--section {
    }
  }
}
