.studypanel {
  // same thing twice cause the first doesn't work on safari ¯\_(ツ)_/¯
  &--wrapper:nth-child(2),
  #Home + &--wrapper {
    margin-top: 0 !important;
  }
}

#Home {
  .studypanel {
    @at-root #Home.studypanel--wrapper {
      height: calc(#{zoom-vh(100vh)} - var(--nav-height)) !important;
      margin-top: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      margin-bottom: #{zoom-vw(-5vw)} !important;

      @include lg-down {
        max-height: 60rem;
      }

      @include md-down {
        margin-bottom: 0rem !important;

        @include ios {
          margin-bottom: Min(#{zoom-vw(15vw)}, #{zoom-vh(15vh)}, 15%) !important;
        }
        
        @include android {
          margin-bottom: 3.5rem!important;
        }
      }

      // @include sm-down {
      //   margin-bottom: 2rem !important;
      // }
    }

    &--img {
      @include mx-auto;
      width: 9.5rem;

      .mask {
        background-color: $col-secondary;
      }

      height: unset;
      @include xl-down {
        width: 7rem;
      }
      @include lg-down {
        width: 5.75rem;
      }

      @include lg {
        margin-left: 7.5%;
      }

      @include md-down {
        display: block;
        margin-top: 5.5rem;
        width: 6rem;
      }

      @include sm-down {
        margin-top: Min(8vh, 4rem);
      }
    }

    &--description {
      @include xxl-down {
        width: col-width(6.75);
      }
      @include xl-down {
        width: col-width(8);
      }

      @include md-down {
        margin-top: 0rem;
        width: col-width(8.3);
      }
      @include sm-down {
        width: col-width(11.5);
      }
    }
    &--graphic {
      @include md-down {
        order: 1;
      }

      @include xl-down {
        margin-left: -3.25rem;
      }

      @include lg {
        width: col-width(4);
        margin-top: 1rem;
        justify-content: end;
      }

      @include md-down {
        @include mx-auto;
      }
    }
  }
}
