.section--wrapper {
  overflow: hidden;
}

#Koalako {
  .brief {
    &--group {
      &__study {
        @include xl-down {
          @include flex-row;
        }
        @include md-down {
          flex-wrap: wrap;
        }
      }
    }

    &--point {
      @include xl-down {
        &#deliverables {
          order: 0;
        }
        &#timeline {
          order: 1;
        }
        &#tools {
          order: 2;
        }
      }
      @include md-down {
        &#deliverables {
          order: 0;
        }
        &#timeline {
          order: 1;
        }
        &#tools {
          order: 2;
        }
      }
    }

    &--tags {
      @at-root #Koalako #tools .brief--tags {
        @include xxl {
          flex-wrap: nowrap;
        }
      }
    }
  }

  #Overview {
    &--Team {
      .section {
        &--title {
          @include md-down {
            text-align: center;
            margin-bottom: 1rem;
          }
          @include sm-down {
            // text-align: left;
          }
        }

        &--graphic {
          height: auto;
          aspect-ratio: 1/1;
          width: calc(100% - (var(--section-graphic-panel-pad) * 2));

          @include sm-down {
            --section-graphic-panel-pad: 1rem;
          }
        }


        &--main {
          @include xxl-down {
            --gap: 3rem;
            @include gap;
          }

          @include xl-down {
            --gap: 2.5rem;
          }
          @include lg-down {
            --gap: 2rem;
          }
          @include md-down {
            --gap: 2.5rem;
          }
          @include sm-down {
            --gap: 2rem;
          }
        }

        @include md-down {
          max-width: 65%;
        }
        @include sm-down {
          max-width: 75%;
        }
      }



      .mask {
        background-color: $col-primary;
        opacity: 0.8;
        --size: 65%;
        @include s;

        @include xl-down {
          --size: 70%;
        }
        @include xxl-down {
          --size: 75%;
        }
        @include lg-down {
          --size: 90%;
        }
        @include md-down {
          --size: 80%;
        }
        @include sm-down {
          --size: 60%;
        }
      }
    }


    &--Background {
    }

    &--Challenge {
      .section {
        @include md-down {
          position: relative;
        }

        &--copy {
          margin-right: -14rem;
        }

        &--main {
          @include flex-row;

          @include md-down {
            gap: 0rem;
            justify-content: space-between;
          }
        }

        &--description {
          @include lg-down {
            margin-right: -2rem;
          }
          @include md-down {
            margin-right: 0rem;
          }
        }
      }

      .column-1 {
        @include md-down {
          position: unset;
        }
      }
      .column-2 {
        @include md-down {
          position: unset;
        }
      }

      .mask {
        margin-top: 2rem;
        margin-bottom: -2rem;
        margin-left: 4.75rem;
        margin-right: -4.75rem;

        @include xl-down {
          margin-left: 1.5rem;
          margin-right: -1.5rem;
        }

        @include lg-down {
          @include overview-graphic-scale;
          margin-top: 0.5rem;
          margin-bottom: -0.5rem;
          margin-left: 0rem;
          margin-right: 0rem;
        }
        @include lg {
          opacity: var(--graphic-overview-opacity);
        }

        @include md-down {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    &--Privacy,
    &--Wordly {
      .mask {
        margin-top: 1.1rem;
        background-color: $col-background;
      }

      .section {
        &--graphic {
          margin-top: 0rem;

          .graphic--img {
            height: fit-content;
          }

          img {
            height: fit-content;
          }
        }

        &--heading {
          margin-top: 1.2rem;
        }

        &--description {
          margin-top: 1.25rem;
        }
      }

      .solution {
        &--copy {
          @include flex-col-center;
        }

        &--graphics {
          @include flex-row-between;
          --gap: 2rem;
          @include gap;
          align-items: center;
        }
      }
    }
  }

  #Plan {
    &--Gantt {
      .label--stage {
        display: none;
      }

      .gantt {
        --gantt-stage-top-margin: 0.35rem;

        &--phase {
          --gantt-phase-height_max: calc(
            var(--gantt-phase-height) + (var(--gantt-stage-count) * var(--gantt-stage-top-margin)) +
              (var(--gantt-task-count) * var(--gantt-task-top-margin)) + (var(--gantt-task-count) * var(--gantt-label-height))
          );
        }
      }
    }
  }

  #Research {
    &--Findings {
      .section {
        &--main {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  #Develop {
    &--Methods {
      .section {
        &--main {
          grid-template-columns: repeat(2, 1fr);
        }
        .col-line {
          background-color: $col-primary;
          opacity: 1;
        }
      }
    }
  }

  #Prototyping {
    &--LowFi {
      .section {
        &--copy {
          &__below {
            margin-top: 2.35rem;
          }
        }
        &--heading {
          @include flex-col-end;
        }

        &--main {
        }
        &--column {
          // magic
          // --expected-cols: #{floor-round(calc((12 / var(--column-width))))};
          // width: calc((100% - ((var(--expected-cols) - 1) * var(--gap))) / var(--expected-cols));
        }
      }
    }

    &--Testing {
      .section {
        &--description {
          .paragraph__background {
            background-color: $col-background;
            @include b-rad;
            padding: 1rem;
          }
        }
      }
    }

    &--HiFi {
      .section {
        .graphic--panel {
          height: auto;
        }
      }
    }

    &--Features {
      .section {
        &--main {
          grid-template-columns: repeat(3, 1fr);
          row-gap: 7rem;
        }

        &--column:last-child {
          grid-column: 2 / 4;
          img {
            object-fit: cover;
          }
        }
      }
    }

    &--Test-2 {
      .section {
      }
    }

    &--Methodology {
      .section {
      }
    }

    &--Findings-1 {
      .section {
        &--quote + .section--quote {
          margin-top: 3rem;
        }
      }
    }

    &--Findings-2 {
      .section {
      }
    }

    &--Conclusion {
      .section {
      }
    }
  }

  #Refine {
    &--Stats {
      .section {
      }
    }
    &--Trophies {
      .section {
      }
    }
    &--Minor {
      .section {
      }
    }
  }

  #Deliver {
    &--Submission-Description-1 {
      .section {
      }
    }
    &--Submission-Graphics-1 {
      .section {
      }
    }
    &--Submission-Description-2 {
      .section {
      }
    }
    &--Submission-Graphics-2 {
      .section {
      }
    }
    &--Features {
      .section {
      }
    }
    &--Closing {
      .background {
        background-color: $col-background_darker;
      }
    }
  }
}
