@mixin koala-col($id, $sel, $child...) {
  @at-root #Koalako ##{$id} .section--column {
    @include nth-children($child...) {
      & #{$sel} {
        @content;
      }
    }
  }
}

@mixin img-grid-gap {
  --gap: 3.5rem;
  @include gap;

  @include xl-down {
    --gap: 2.75rem;
  }
  @include lg-down {
    --gap: 2rem;
  }

  @include md-down {
    --gap: 2.5rem;
  }
  @include sm-down {
    --gap: 1.5rem;
  }
}

#Koalako {
  .brief {
    &--group {
      &__study {
        @include xl-down {
          @include flex-row;
        }
        @include md-down {
          flex-wrap: wrap;
        }
      }
    }

    &--point {
      @include xl-down {
        &#deliverables {
          order: 0;
        }
        &#timeline {
          order: 1;
        }
        &#tools {
          order: 2;
        }
      }
      @include md-down {
        &#deliverables {
          order: 0;
        }
        &#timeline {
          order: 1;
        }
        &#tools {
          order: 2;
        }
      }
    }

    &--tags {
      @at-root #Koalako #tools .brief--tags {
        @include xxl {
          flex-wrap: nowrap;
        }
      }
    }
  }

  #Overview {
    &--Team {
      .section {
        &--title {
          @include md-down {
            text-align: center;
            margin-bottom: 1rem;
          }
          @include sm-down {
            // text-align: left;
          }
        }

        &--graphic {
          height: auto;
          aspect-ratio: 1/1;
          width: calc(100% - (var(--section-graphic-panel-pad) * 2));

          @include sm-down {
            --section-graphic-panel-pad: 1rem;
          }
        }

        &--main {
          @include xxl-down {
            --gap: 3rem;
            @include gap;
          }

          @include xl-down {
            --gap: 2.5rem;
          }
          @include lg-down {
            --gap: 2rem;
          }
          @include md-down {
            --gap: 2.5rem;
          }
          @include sm-down {
            --gap: 2rem;
          }
        }

        @include md-down {
          max-width: 65%;
        }
        @include sm-down {
          max-width: 75%;
        }
      }

      .mask {
        background-color: $col-primary;
        opacity: 0.8;
        --size: 65%;
        @include s;

        @include xl-down {
          --size: 70%;
        }
        @include xxl-down {
          --size: 75%;
        }
        @include lg-down {
          --size: 90%;
        }
        @include md-down {
          --size: 80%;
        }
        @include sm-down {
          --size: 60%;
        }
      }
    }

    &--Background {
    }

    &--Challenge {
      .section {
        &--copy {
          margin-right: -14rem;
        }

        &--main {
        }

        &--description {
        }
      }

      .mask {
        @include xxl-up {
          margin-top: 2rem;
          margin-bottom: -2rem;
        }
        @include xxl-lg {
          margin-top: 2rem;
          margin-bottom: -2rem;
        }
      }
    }

    &--Exploration,
    &--Privacy,
    &--Wordly {
      .mask {
        margin-top: 1.1rem;
        background-color: $col-background;
      }

      .section {
        --gap: 4rem !important;
        gap: var(--gap) !important;

        @include lg {
          @include flex-col;
          & > * {
            max-width: unset;
          }
        }

        @include lg {
          max-width: 60%;
        }
        @include lg-down {
          --gap: 2.15rem !important;
        }
        @include md {
          max-width: 70%;
        }

        &--graphic {
          margin-top: 0rem;

          .graphic--img {
            height: fit-content;
          }

          img {
            height: fit-content;
          }
        }

        &--heading {
          margin-top: 1.2rem;
        }

        &--description {
          margin-top: 1.25rem;
        }
      }

      .solution {
        &--copy {
          @include flex-col-center;

          @include lg-down {
            order: 0;
          }
        }

        &--graphics {
          @include flex-row-between;
          gap: 2rem;

          align-items: center;

          @include lg-down {
            order: 1;
            min-height:1rem;
          }
        }
      }
    }
  }

  #Plan {
    &--Gantt {
      .label--stage {
        display: none;
      }

      .gantt {
        --gantt-stage-top-margin: 0.35rem;

        &--phase {
          --gantt-phase-height_max: calc(
            var(--gantt-phase-height) + (var(--gantt-stage-count) * var(--gantt-stage-top-margin)) +
              (var(--gantt-task-count) * var(--gantt-task-top-margin)) + (var(--gantt-task-count) * var(--gantt-label-height))
          );
        }

        @include xl-down {
          --gantt-label-width: 14rem;
        }
        @include lg-down {
          --gantt-label-width: 12rem;
        }
        @include md-down {
          --gantt-label-width: 9rem;

          .label--unit:nth-child(odd) {
            & > * {
              display: none;
            }
          }
        }
        @include sm-down {
          --gantt-label-width: 8rem;
        }
      }
    }
  }

  #Research {
    &--Findings {
      .findings {
        @include lg-down {
          --findings-pad: 1.75rem;
        }
      }
    }
  }

  #Develop {
    &--Methods {
      .section {
        @include lg-down {
          $amt: 80%;
          max-width: $amt;
          .col-line--wrapper {
            --container-max-width: #{$amt};
          }
        }

        @include md-down {
          $amt: calc(100% - 4rem);
          max-width: $amt;
          .col-line--wrapper {
            --container-max-width: #{$amt};
          }
        }

        &--main {
          grid-template-columns: repeat(2, 1fr);
          gap: 3.75rem;
          @include lg-down {
            gap: 2.5rem;
            grid-template-columns: repeat(1, 1fr);
          }
        }

        .col-line {
          background-color: $col-primary;
          opacity: 1;
        }
      }
    }
  }

  #Prototyping {
    &--LowFi {
      .section {
        &--copy {
          &__below {
            margin-top: 2.35rem;
          }
        }
        &--heading {
          @include flex-col-end;
        }

        &--main {
          @include img-grid-gap;

          @include md-down {
            justify-content: center;
            margin-top: 3rem;
          }
        }
        &--column {
          // magic
          // --expected-cols: #{floor-round(calc((12 / var(--column-width))))};
          // width: calc((100% - ((var(--expected-cols) - 1) * var(--gap))) / var(--expected-cols));

          @mixin ignore-max {
            max-width: unset;
            flex: 1 0;
          }
          @include xxl-up {
            @include ignore-max;
          }
          @include xxl-md {
            @include ignore-max;
          }

          @include md-down {
            @include nth-children(1, 2, 3) {
              .section--heading {
                height: auto !important;
              }
            }
          }
        }

        &--graphic {
          @include md-down {
            border: 0.2rem $col-tertiary solid;
          }
        }
      }
    }

    &--Testing-Results {
      .section {
        &--description {
          .paragraph__background {
            background-color: $col-background;
            @include b-rad;
            padding: 1rem;
          }
        }
      }
    }

    &--Implementation {
      .section {
        &--main {
          @include xl-down {
            // --gap: 3rem;
            // @include gap;
          }
        }
      }
    }

    &--HiFi {
      .section {
        &--main {
          @include md-down {
            flex-wrap: wrap;
            justify-content: center;
          }
        }

        @include koala-col("Prototyping--HiFi", ".section--graphic", 1) {
          height: auto;
          padding: 0;

          img {
            transform: scale(0.8);
            @include hover {
              transform: scale(0.81);
            }
          }
        }

        @include koala-col("Prototyping--HiFi", "", 2, 3) {
          @include md-down {
            width: #{col-width(3)};
          }
          @include sm-down {
            width: calc(#{col-width(6)} - var(--gap) / 2);
          }
        }
      }
    }

    &--Features {
      .section {
        &--inner {
          @include md {
            max-width: calc(100% - 4rem);
            @include mx-auto;
          }
          @include sm-down {
          }
        }

        &--main {
          grid-template-columns: repeat(3, 1fr);
          row-gap: 7rem;

          --gap: 6rem;
          @include gap;

          @include xxl-down {
            --gap: 5rem;
          }
          @include xl-down {
            --gap: 4.5rem;
          }
          @include lg-down {
            --gap: 3.5rem;
            grid-template-columns: repeat(2, 1fr);
          }

          @include md-down {
            --gap: 3rem;
            row-gap: 3.5rem;
          }
          @include sm-down {
            row-gap: 4rem;
            grid-template-columns: repeat(1, 1fr);
          }
        }

        @include koala-col("Prototyping--Features", "", 5) {
          grid-column: 2 / 4;
          @include lg-down {
            grid-column: span 2;
          }
          @include sm-down {
            grid-column: span 1;
          }
        }

        @include koala-col("Prototyping--Features", ".section--graphic", 3, 4) {
          @include lg-down {
            height: 37vh !important;
          }
        }

        &--column {
          @include md-down {
            grid-column: span 1;
          }
        }

        &--graphic {
          img {
            object-fit: cover;
          }
        }
      }
    }

    &--Features {
      .section {
        &--main{
          @include sm-down{
            max-width: 85%;
            @include mx-auto;
          }
        }

        &--description {
          // @include flex-col-center;
        }
      }
    }

    &--Test-2 {
      .section {
      }
    }

    &--Methodology {
      .section {
        --graphic-scale: 0.925;
        // --section-graphic-panel-pad

        @include lg-down {
          --graphic-scale: 0.755;
          --section-graphic-panel-pad: 1.75rem;
        }
        @include md {
          --graphic-scale: 0.625;
          --section-graphic-panel-pad: 1rem;
        }

        @include md-down {
          --graphic-scale: 0.625;
          --section-graphic-panel-pad: 1.75rem;
        }
        @include sm-down {
          --graphic-scale: 0.915;
          --section-graphic-panel-pad: 2rem;
        }

        &--main {
          @include sm-down {
            max-width: 80%;
            @include mx-auto;
          }
        }
        &--column {
          @include md-down {
            @include e-col-width(4);
          }
          @include sm-down {
            @include e-col-width(12);
          }
        }

        &--graphic {
          aspect-ratio: 1/1;
          height: auto;
          width: calc(100% - var(--section-graphic-panel-pad) * 2);
        }

        .mask {
          @include sm-down {
            width: Min(Max(75%, var(--w)), 90%);
            height: Min(Max(75%, var(--h)), 90%);
          }
        }
      }
    }

    &--Findings-1,
    &--Findings-2 {
      .section {
        &--quote + .section--quote {
          margin-top: var(--gap);
        }

        @include md-down {
          @include flex-row-center;
          flex-wrap: wrap;
        }
      }
    }

    &--Conclusion {
      .section {
      }
    }
  }

  #Refine {
    &--Stats,
    &--Feedback,
    &--Visuals,
    &--Features {
      .section {
        --gap: 6.25rem;

        @include lg-down {
          --gap: 4.25rem;
        }

        @include md-down {
          flex-wrap: wrap;
          @include mts-val(3);
          --gap: var(--mts);
        }

        .column-1 {
          @include col-width(6, var(--gap));
        }
        .column-2 {
          @include col-width(6, var(--gap));

          @include md {
            min-width:unset;
            max-width: unset;
            @include mx-auto;
            @include col-width(8);
          }

        }

        &--column {
          // @include e-col-width(6, var(--gap));
          @include md-down {
            @include e-col-width(12);
          }
        }

        &--inner-column {
          --column-gap: 2rem;
          @include md-down {
            --column-gap: 2rem;
          }
          @include e-col-width(6, var(--column-gap));
        }

        &--graphic {
          height: fit-content;
          @include my-auto;
        }
      }
    }

    // &--Visuals,
    // &--Features {

    //   .column-1 {
    //     // @include md-down{
    //       order:2;
    //     // }
    //   }
    //   .column-2 {
    //     // @include md-down{
    //       order:1;
    //     // }
    //   }

    // }

  }


  #Delivery {
    &--Submission-Description-1 {
      .section {
      }
    }
    &--Submission-Graphics-1 {
      .section {
      }
    }
    &--Submission-Description-2 {
      .section {
      }
    }
    &--Submission-Graphics-2 {
      .section {
      }
    }
    &--Features {
      .section {
      }
    }

    &--Submission-Graphics-1,
    &--Submission-Graphics-2 {
      .section {
        @include img-grid-gap;

        @include lg-down {
          justify-content: center;
        }

        &--column {
          @include xxl-up {
            flex: 1 0;
            max-width: unset;
          }

          @include xxl-md {
            flex: 1 0;
            max-width: unset;
          }
        }
      }
    }

    &--Closing {
      @include closing-banner-section;
    }
  }
}
