#Koalako {
  #Overview {
    &--Team {
      .mask {
        background-color: $col-primary;
        opacity: 0.8;
        width: 65%;
        height: 65%;
      }
    }
    &--Challenge {
      .section {
        &--copy {
          margin-right: -6rem;
        }
      }
      .mask {
        margin-top: 1.5rem;
        margin-bottom: -1.5rem;
      }
    }

    &--Privacy,
    &--Wordly {
      .mask {
        margin-top: 1.1rem;
        background-color: $col-background;
      }

      .section {
        &--graphic {
          margin-top: 0rem;

          .graphic--img {
            height: fit-content;
          }

          img {
            height: fit-content;
          }
        }

        &--heading {
          margin-top: 1.2rem;
        }

        &--description {
          margin-top: 1.25rem;
        }
      }

      .solution {
        &--copy {
          @include flex-col-center;
        }

        &--graphics {
          @include flex-row-between;
          --gap: 2rem;
          @include gap;
          align-items: center;
        }
      }
    }
  }

  #Plan {
    &--Gantt {
      .label--stage {
        display: none;
      }

      .gantt {
        --gantt-stage-top-margin: 0.35rem;

        &--phase {
          --gantt-phase-height_max: calc(
          
          var(--gantt-phase-height) + 
          (var(--gantt-stage-count) * var(--gantt-stage-top-margin))
           + 
           (var(--gantt-task-count) * var(--gantt-task-top-margin))
            + 
            (var(--gantt-task-count) * var(--gantt-label-height))
            
            )
        }
      }
    }
  }
}
