.section--wrapper {
  overflow: hidden;
}

@mixin split-hover {
  &:hover,
  &:focus,
  &.hover {
    @content;
  }
}

@mixin hoverable-graphic-panel-with-background($b: 1.075) {
  .section {
    --section-graphic-panel-pad: 0rem;
    &--graphic:not(.pro-con--icon) {
      height: unset;
      filter: brightness(1);
      &:hover,
      &:focus,
      &.hover,
      &[data-playing="true"] {
        filter: brightness(#{$b});
      }
    }
  }
}

@mixin section-grid-4_captions-headings {
  @include section-mask-color($col-tertiary);

  .section {
    @include lg {
      max-width: 65%;
      @include mx-auto;
    }

    &--description {
      &:not(.graphic--caption),
      & p:not(.graphic--caption) {
        margin-top: 0.35rem;
        @include sm-down {
          margin-top: 0.15rem;
        }
      }
    }

    &--main {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @include lg-down {
        grid-template-columns: repeat(2, 1fr);
        --gap: 3rem;
      }
      @include md-down {
        --gap: 2.5rem;
      }
      @include sm-down {
        --gap: 1.75rem;
      }
    }

    &--graphic {
      height: unset;
      aspect-ratio: 1 / 1;

      --graphic-scale: 0.85;

      @include xl-down {
        --graphic-scale: 0.75;
      }
      @include lg-down {
        --section-graphic-panel-pad: 1.75rem;
        --graphic-scale: 0.925;
      }
      @include md-down {
        --graphic-scale: 1;
      }
      @include sm-down {
        --section-graphic-panel-pad: 0.25rem;
        --graphic-scale: 0.85;
      }
    }

    .mask {
      @include sm-down {
        width: calc(Max(Min(45%, var(--w)), 55%));
      }
    }
  }
}

#Made {
  .brief {
    &--group {
      &__study {
        @include xl-down {
          width: 80%;
        }
        @include lg-down {
          width: 90%;
        }
        @include md-down {
          width: 100%;
          column-gap: 2rem;
        }
      }
    }

    &--point {
      @include xl-down {
        &#deliverables {
          order: 0;
        }
        &#roles {
          order: 3;
        }
        &#timeline {
          order: 2;
        }
        &#tools {
          order: 1;
        }
      }
    }
  }

  #Overview {
    &--Client {
    }

    &--Goal {
      @include section-mask-color($col-tertiary);

      .section {
        &--copy {
          width: calc(#{col-width(6.5)} - (var(--gap) / 2));
        }
        &--graphic {
          width: calc(#{col-width(5.5)} - (var(--gap) / 2));
        }
        .mask {
          max-width: 100%;
        }
      }
    }

    &--Needs {
      @include section-grid-4_captions-headings;
    }

    &--Outcome {
    }
  }

  #Approach {
    &--Banner {
    }

    &--Workflow {
      .section {
        --section-graphic-panel-pad: 0rem;
        --sec-gap: 4.5rem;
        --col: 4;

        --graphic-scale: 0.935;
        @include xxl-down {
          --graphic-scale: 0.875;
        }
        @include xl-down {
          --sec-gap: 4.25rem;
          --graphic-scale: 0.805;
        }
        @include lg-down {
          --sec-gap: 3rem;
          --graphic-scale: 0.805;
          --col: 3;
        }
        @include md {
          --site-max-width: 75%;
          max-width: var(--site-max-width);
          --sec-gap: 3.5rem;
          --graphic-scale: 0.905;
          --col: 2;
        }
        @include sm-down {
          --sec-gap: 2.15rem;
          --site-max-width: calc(100% - (var(--sec-gap) * 2));
          max-width: var(--site-max-width);
          --col: 2;
          --graphic-scale: 0.625;
        }

        &--main {
          margin-top: 4rem;
          @include gap(var(--sec-gap));

          grid-template-columns: repeat(var(--col), calc((100% - (var(--sec-gap) * (var(--col) - 1))) / var(--col)));
        }

        &--column {
        }

        .graphic {
          &--panel {
            height: unset;
            aspect-ratio: 1/1;
          }
          &--caption {
            white-space: nowrap;
          }
        }

        .mask {
          // width: calc(Max(Min(20%, var(--w)), 65%));
          // height: calc(Max(Min(20%, var(--h)), 65%));
        }
      }
    }

    &--Scope {
      .section {
        --configurator-left-offset: 2rem;
        --configurator-material-width: 2.75rem;
        --left: calc(((var(--configurator-left-offset) + var(--configurator-material-width)) * -1) / 2);

        &--copy,
        .viewer,
        .viewer--heading {
          @include md {
            // $amt: 60%;
            // @include mx-auto;
            // max-width: $amt;
            // width: $amt;
            // transform: translate(var(--left));
          }
          @include sm-down {
            --configurator-left-offset: 1.75rem;
          }
        }

        .viewer,
        .viewer--heading {
          @include sm-down {
            // $amt: 81.5%;
            // max-width: $amt;
            // width: $amt;
          }
        }

        .assets {
          // @include md-down{
          //   $amt: 80%;
          //   @include mx-auto;
          //   max-width: $amt;
          //   width: $amt;
          // }
          // @include sm-down{
          //   $amt: 100%;
          //   max-width: $amt;
          //   width: $amt;
          // }
        }
      }
    }
    &--Considerations {
      @include section-grid-4_captions-headings;
    }

    &--Models {
      .section {
        &--main {
          margin-top: 1rem;
          flex-wrap: wrap;
          --gap: 3rem;
          @include flex-row-center;
          @include gap;

          --section-graphic-panel-pad: 2rem;
          --cw: #{col-gap-width(var(--site-max-width), 3, var(--gap))};
          --ch: #{col-gap-width(var(--site-max-width), 3, var(--gap), calc(var(--section-graphic-panel-pad) * 2))};

          @include md-down {
            --section-graphic-panel-pad: 0rem;
            --gap: 2rem;
            --cw: #{col-gap-width(100%, 2, var(--gap))};
            --ch: #{col-gap-width(100%, 2, var(--gap), calc(var(--section-graphic-panel-pad) * 2))};
          }
        }

        &--column {
          width: var(--cw);
          max-width: unset;
          min-width: unset;
        }

        &--graphic {
          --graphic-scale: 0.185;
          height: unset;
          aspect-ratio: 1/1;
          @include lg-down {
            --graphic-scale: 0.115;
          }
          @include md-down {
            --graphic-scale: 0.15;
          }

          img {
            --w: calc(var(--iw) * var(--graphic-scale));
            --h: calc(var(--ih) * var(--graphic-scale));
            width: var(--w);
            height: var(--h);

            @include md-down {
              width: calc(Max(Min(45%, var(--w)), 55%));
              height: calc(Max(Min(45%, var(--h)), 55%));
            }
          }
        }
      }
    }

    &--Imperfections {
      .split {
        height: unset;
        aspect-ratio: 1 / 1;
        --split-graphic-scale: 0.85;
        @include split-hover {
          --split-graphic-scale: 0.865;
        }
      }

      .column-1 {
        @include md-down {
          order: 1;
        }
      }
      .column-2 {
        @include md-down {
          order: 0;
        }
      }
    }

    &--Summary {
    }
  }

  #Texturing {
    &--Workflow {
    }

    &--Stages {
      .section {
        &--heading {
          @include flex-col-end;
          @include lg-down {
            margin-top: 0rem;
          }
        }
        &--main {
          grid-template-columns: repeat(3, 1fr);
          @include xl-down {
            --gap: 5rem;
            @include gap;
          }
          @include lg-down {
            --gap: 5.5rem;
            grid-template-columns: repeat(2, 1fr);
          }
          @include md-down {
            --gap: 4.5rem;
          }
          @include sm-down {
            --gap: 3.75rem;
          }
        }
      }
    }

    &--Contrast-Desc {
    }

    &--Contrast-Areas {
      .graphic {
        height: unset;
      }
    }

    &--Contrast-Split {
      .graphic {
        height: unset;
      }
    }

    &--Details-Description {
    }

    &--Details-Graphics {
      .section {
        &--main {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }

    &--Transition {
      .image-row {
        --image-row-scale: 1.15;
        --image-row-offset: 2;
      }
    }
  }

  #Rendering {
    &--Lighting {
      .split {
        background-color: $col-background_darker;
        --split-graphic-scale: 0.85;
        @include split-hover {
          --split-graphic-scale: 0.865;
          background-color: lighten($col-background_darker, 2.25);
        }
      }
    }

    &--Shadow-Description {
    }

    &--Shadow-Graphics {
      .section {
      }
    }

    &--Post {
      .section {
        --section-graphic-panel-pad: 0rem;

        &--main {
          margin-top: 2.5rem;
        }

        &--graphic {
          height: unset;
        }

        &--main {
          row-gap: 3rem;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
    &--Roadblocks-Description {
    }

    &--Roadblocks-Graphics {
      @include hoverable-graphic-panel-with-background;
    }
    &--Python-Description {
    }
    &--Python-Graphic {
      @include hoverable-graphic-panel-with-background;
    }

    &--Scalable {
      @include hoverable-graphic-panel-with-background(1.025);
    }
    &--Closing {
    }
  }

  #Delivery {
    &--Banner {
    }

    &--Config {
      .section {
        &--wrapper {
          padding-bottom: calc(var(--section-gap) * 1.25);
        }
      }
    }

    &--Images-1,
    &--Images-2,
    &--Images-3 {
      .image-row {
        --image-row-scale: 1.35;
        --image-row-offset: 0.5;
      }

      & {
        padding-bottom: 13%;
      }
    }

    &--Closing {
      .background {
        background-color: $col-background_darker;
      }
    }
  }

  #Closing {
    &--Copy {
    }
  }
}

// #Approach {
//   &--Workflow {
//   }
//   &--Models {
//   }
//   &--Imperfections {
//   }
// }
// #Texturing {
//   &--Stages {
//   }

//   &--Contrast-Desc {
//   }
//   &--Contrast-Areas {
//   }
//   &--Contrast-Split {
//   }
//   &--Details-Description {
//   }
//   &--Details-Graphics {
//   }
//   &--Transition {
//   }
// }

// #Rendering {
//   &--Lighting {
//   }
//   &--Shadow-Description {
//   }
//   &--Shadow-Graphics {
//   }
//   &--Post{
//   }
//   &--Roadblocks-Description {
//   }
//   &--Roadblocks-Graphics {
//   }
//   &--Python-Description {
//   }
//   &--Python-Graphic {
//   }
//   &--Scalable {
//   }
//   &--Closing {
//   }
// }

// #Delivery {
//   &--Banner {
//   }
//   &--Config {
//   }
//   &--Images-1,
//   &--Images-2,
//   &--Images-3 {
//   }
//   &--Closing {
//   }
// }

// #Closing {
//   &--Copy {
//   }
// }

// html, body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
// }
// #__next {
//   height: 100%;
//   overflow-y: scroll;
//   -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS Safari */
// }
