#Made {
  #Overview {
    &--Goal {
      @include section-mask-color($col-tertiary);

      .section--graphic {
        height: 100%;
        @include flex-col-center;
      }
    }

    &--Needs {
      @include section-mask-color($col-tertiary);

      .section {
        &--graphic {
          --img-panel-height: 10rem;
        }

        &--main {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }

  #Approach {
    &--Workflow {
      .section {
        --sec-gap: 5.5rem;
        --graphic-scale: 0.925;
        --col: 4;

        .graphic {
          &--panel {
            --pw: calc(((var(--site-max-width) - (var(--sec-gap) * (var(--col) - 1))) / var(--col)) - (var(--section-graphic-panel-pad) * 2));
            width: var(--pw);
            height: var(--pw);
          }
          &--caption {
            white-space: nowrap;
          }
        }

        &--main {
          margin-top: 4rem;
          grid-template-columns: repeat(4, 1fr);
          @include gap(var(--sec-gap));
        }
      }
    }

    &--Models {
      .section {
        &--main {
          margin-top: 1rem;
          flex-wrap: wrap;
          --gap: 3rem;
          @include flex-row-center;
          @include gap;

          --section-graphic-panel-pad: 2rem;
          --cw: #{col-gap-width(var(--site-max-width), 3, var(--gap))};
          --ch: #{col-gap-width(var(--site-max-width), 3, var(--gap), calc(var(--section-graphic-panel-pad) * 2))};
        }

        &--column {
          width: var(--cw);
        }

        &--graphic {
          --graphic-scale: 0.185;
          height: var(--ch);

          img {
            width: calc(var(--iw) * var(--graphic-scale));
            height: calc(var(--ih) * var(--graphic-scale));
          }
        }
      }
    }
  }
}
