#Makeright {
  --background-info-gap: 6rem;

  #Overview {
    &--Background {
      .section {
        @include gap(var(--background-info-gap));

        --graphic-scale: 0.95;

        // .graphic--mask {
        //   .mask {
        //     background-color:$col-tertiary;

        //   }
        // }
      }
    }

    &--Challenge {
      .section {
        @include gap(var(--background-info-gap));

        --graphic-scale: 0.95;

        // .graphic--mask {
        //   .mask {
        //     background-color:$col-tertiary;

        //   }
        // }
      }
    }

    &--Pitch {
      .mask {
        background-color: $col-background;
      }
    }

    &--Hero-Logo {
      $pad: 5rem;
      padding-top: $pad;
      padding-bottom: $pad * 1.1;

      .section {
        &--graphic {
          @include flex-row-center;
          width: 100%;

          & > * {
            background-color: $col-background;
            width: 70%;
          }
        }
      }
    }
  }

  #Plan {
    &,
    &--Banner {
      // TODO: not sure why this is needed, could be good to look at the edge case that's missing that necessitates this
      margin-top: 0;
    }
  }

  #Research {
    &--Approach {
    }

    &--Aha-Moment {
    }
  }

  #Develop {
    &--Brainstorming {
    }
  }

  #Prototyping {
    &--Journey-Map {
      .section--graphic {
        --img-panel-height: auto;
        width: calc(100% - (var(--section-graphic-panel-pad) * 2));
      }
    }

    &--Methodology {
      .section {

        .mask {
          background-color: $col-background;
        }

        &--main {
          grid-template-columns: repeat(4, 1fr);
        }


        &--graphic {
          --img-panel-height: 7rem;

          $imgs-sel: #{nth-children('#{trim-id(#{&})} .section--column', '', 1, 2) };
          @at-root #{$imgs-sel} {
              --graphic-scale: 0.1;
          }


        }
      }
    }

    &--Progression {
      .section {
        &--main {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }

    &--Equipment {
      .section {
        &--main {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  #Delivery {
    margin-top: 0;
    &--Banner {
      margin-top: 0;
    }

    &--Conclusion {
      // @include section-mask-width(9.5rem);
    }

    &--Forward {
      ul {
        --section-text-spacing: 1.65rem;
      }

      @include section-list-spacing(0.6875rem);
    }

    &--Banner {
      .background {
        background-color: $col-background_darker;
      }
    }
  }
}
