// TODO: Find a way to ensure that these graphics are always locked to the correct scale

@mixin makeright-background-info-img {
  @include img-width(17.5rem);
}

#Makeright {
  --background-info-gap: 6rem;

  #Overview {
    .section {
      @include gap(var(--background-info-gap));
      &--graphic {
        img {
          @include makeright-background-info-img;
        }
      }
    }
  }

  #Challenge {
    .section {
      @include gap(var(--background-info-gap));
      &--graphic {
        img {
          @include makeright-background-info-img;
        }
      }
    }
  }

  #HeroLogo {
    $pad: 5rem;
    padding-top: $pad;
    padding-bottom: $pad * 1.1;

    .section {
      &--graphic {
        @include flex-row-center;
        width: 100%;

        & > * {
          background-color: $col-background;
          width: 70%;
        }
      }
    }
  }

  #Plan,
  #BuildingMakeRight {
    margin-top: 0;
  }

  #Research {
    .section {
      &--graphic {
        .mask{
          @include mask-width(11.5rem);
          background-color: $col-tertiary;
        }
      }
    }
  }
}
