




$col-primary: #074391;
$col-secondary: #C41263;
$col-tertiary: #404064;
$col-background: #F3F3F7;





// $col-secondary: #ffffff;
// $col-secondary_mid: #a9a7b0;
// $col-secondary_dark: #302e36;


// $col-tertiary: #00A3FF;


// $col-warning: #e87a7a;


// $col-panel-main_back: #181931;
// $col-panel-main_back_alt: #16191D;
// $col-panel-secondary_back: #232128;
// $col-panel-tertiary_back: #1F2A33;


// $col-back: #0b001a;
// $col-back_light: #0a0b25;

// $grad-primary: linear-gradient(
//   to right,
//   rgba(255, 255, 255, 0.1),
//   rgba(0, 209, 255, 0.1)
// );
