






:root{
    // --site-pad-top: 7rem;
    // --site-pad-x: 2rem;
    --transition: 0.1s;
    --b-rad: 0.5rem;
    --b-rad_less: 0.3125rem;

    --font-height-body: Max(var(--font-size-body), var(--font-leading-body));

}


body {
    background-color: $col-background;

    // p, li {
    //     @include body;
    // }
}



.overflow__ellipsis {
    height: var(--rounded-height);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--visible-lines);
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}


