$font-title: "Gira Sans";
$font-body: "Tenon";

:root {
  --font-size-h1: 3.375rem;
  --font-size-h2: 2.375rem;
  --font-size-h3: 1.625rem;
  --font-size-h4: 0.875rem;
  --font-size-body: 1.125rem;
  --font-size-quote: 1rem;


  // TODO: consolidate this with h3 if possible
  --font-size-logo: 1.375rem;

  --font-leading-h1: 4rem;
  --font-leading-h2: 3.125rem;
  // --font-leading-h3: 2.3125rem;
  // --font-leading-h3: 2.125rem;
  --font-leading-h3: 2.1875rem;
  
  --font-leading-h4: 1.25rem;
  --font-leading-body: 1.5rem;
  --font-leading-quote: 1.375rem;

  --font-margin-bottom-h2: 1.5rem;
  --font-margin-bottom-h3: 1.125rem;
  --font-margin-bottom-h3_less: 0.75rem;
  --font-margin-bottom-h4: 0.25rem;

  // --font-leading-h1: 4.25rem;
  // --font-leading-h2: 3.125rem;
  // --font-leading-h3: 2.3125rem;
  // --font-leading-h4: 1.25rem;
  // --font-leading-body: 1.5rem;

  font-family: $font-body;
  color: $col-primary;
}


@mixin font-body {
  font-family: $font-body;
}

@mixin font-title {
  font-family: $font-title;
}



@mixin weight-light {
  font-weight: 300;
}
@mixin weight-reg {
  font-weight: 400;
}
@mixin weight-med {
  font-weight: 500;
}
@mixin weight-bold {
  font-weight: 600;
}

@mixin italic {
  font-style: italic;
}

@mixin h1 {
  font-family: $font-title;
  font-size: var(--font-size-h1);
  line-height: var(--font-leading-h1);
  @include weight-med;
}

@mixin h2 {
  font-family: $font-title;
  font-size: var(--font-size-h2);
  line-height: var(--font-leading-h2);
}

@mixin h2-margin {
  margin-bottom: var(--font-margin-bottom-h2);
}


@mixin h3 {
  font-family: $font-title;
  font-size: var(--font-size-h3);
  line-height: var(--font-leading-h3);
  @include weight-light;
}

@mixin h4 {
  font-family: $font-body;
  font-size: var(--font-size-h4);
  line-height: var(--font-leading-h4);
  color: $col-secondary;
  @include weight-reg;
}

@mixin h4-margin {
  margin-bottom: var(--font-margin-bottom-h4);
}



@mixin body-text{
  font-family: $font-body;
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
}

@mixin body {
  @include body-text;
  @include weight-reg;
}

@mixin body-med {
  @include body-text;
  @include weight-med;
}


@mixin quote{
  font-family: $font-title;
  font-size: var(--font-size-quote);
  line-height: var(--font-leading-quote);
  @include weight-light;
  @include italic;
}




h1,
.text--h1 {
  @include h1;
}

h2,
.text--h2 {
  @include h2;
}

h3,
.text--h3 {
  @include h3;
}

h4,
.text--h4 {
  @include h4;
}

p,
.text--body,
li, span{
  @include body;
}


// .weight {
//   &__light {
//     @include weight-light;
//   }
//   &__reg {
//     @include weight-reg;
//   }
//   &__med {
//     @include weight-med;
//   }
//   &__bold {
//     @include weight-bold;
//   }
// }

// .text--body {
//   font-size: var(--font-size-h4);
//   line-height: 1.25rem;

//   &__tertiary {
//     @extend .body;
//     color: $col-secondary_mid;
//   }
// }
