$font-title: "Gira Sans";
$font-body: "Tenon";

:root {
  --font-size-h1: 3.375rem;
  --font-size-h2: 2.375rem;
  --font-size-h3: 1.625rem;
  --font-size-h4: 1.125rem;
  --font-size-body: 1rem;

  --font-leading-h1: 4.25rem;
  --font-leading-h2: 3.125rem;
  --font-leading-h3: 2.3125rem;
  --font-leading-h4: 1.25rem;
  --font-leading-body: 1.5rem;


    font-family: $font-body;
    color: $col-primary;
  
}

@mixin weight-light {
  font-weight: 300;
}
@mixin weight-reg {
  font-weight: 400;
}
@mixin weight-med {
  font-weight: 500;
}
@mixin weight-bold {
  font-weight: 600;
}

@mixin h1 {
  font-family: $font-title;
  font-size: var(--font-size-h1);
  line-height: var(--font-leading-h1);
}

@mixin h2 {
  font-family: $font-title;
  font-size: var(--font-size-h2);
  line-height: var(--font-leading-h2);
}

@mixin h3 {
  font-family: $font-title;
  font-size: var(--font-size-h3);
  line-height: var(--font-leading-h3);
  @include weight-light;
}

@mixin h4 {
  font-family: $font-title;
  font-size: var(--font-size-h4);
  line-height: var(--font-leading-h4);
}

@mixin body {
  font-family: $font-body;
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
}

h1,
.t--h1 {
  @include h1;
}

h2,
.t--h2 {
  @include h2;
}

h3,
.t--h3 {
  @include h3;
}

h4,
.t--h4 {
  @include h4;
}

// .weight {
//   &__light {
//     @include weight-light;
//   }
//   &__reg {
//     @include weight-reg;
//   }
//   &__med {
//     @include weight-med;
//   }
//   &__bold {
//     @include weight-bold;
//   }
// }

// .t--body {
//   font-size: var(--font-size-h4);
//   line-height: 1.25rem;

//   &__tertiary {
//     @extend .body;
//     color: $col-secondary_mid;
//   }
// }
