.border {
  &-negative {
    --border-opactiy: 0.2;
    border: 0.4375rem rgba($col-negative, var(--border-opactiy)) solid;
  }
  &-positive {
    --border-opactiy: 0.2;
    border: 0.4375rem rgba($col-positive, var(--border-opactiy)) solid;
  }
  &-tertiary {
    --border-opactiy: 1;
    border: 0.25rem rgba($col-tertiary, var(--border-opactiy)) solid;
  }
}

