.border{



    &-negative{
        border: 0.5rem rgba($col-negative, 0.2) solid;
    }
    &-positive{
        border: 0.5rem rgba($col-positive, 0.2) solid;
    }
    &-tertiary{
        border: 0.25rem rgba($col-tertiary, 1) solid;
    }
}