* {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

html,
body {
  height: 100%;
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --breakpoints: xs, sm, md, lg, xl, xxl;
}

:root {
  --xs:0em;
  --sm:36em;
  --md:48em;
  --lg:62em;
  --xl:75em;
  --xxl:87.5em;
}

.color--primary {
  color: #074391;
}

.color--secondary {
  color: #C41263;
}

.color--tertiary {
  color: #404064;
}

@font-face {
  font-family: "Gira Sans";
  src: url("/assets/fonts/gira_sans/Gira_Sans.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gira Sans";
  src: url("/assets/fonts/gira_sans/Gira_Sans_Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gira Sans";
  src: url("/assets/fonts/gira_sans/Gira_Sans_Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Tenon";
  src: url("/assets/fonts/tenon/Tenon.otf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-size-h1: 3.375rem;
  --font-size-h2: 2.375rem;
  --font-size-h3: 1.625rem;
  --font-size-h4: 0.875rem;
  --font-size-body: 1.125rem;
  --font-size-logo: 1.375rem;
  --font-leading-h1: 4rem;
  --font-leading-h2: 3.125rem;
  --font-leading-h3: 2.3125rem;
  --font-leading-h4: 1.25rem;
  --font-leading-body: 1.5rem;
  font-family: "Tenon";
  color: #074391;
}

h1,
.text--h1 {
  font-family: "Gira Sans";
  font-size: var(--font-size-h1);
  line-height: var(--font-leading-h1);
}

h2,
.text--h2 {
  font-family: "Gira Sans";
  font-size: var(--font-size-h2);
  line-height: var(--font-leading-h2);
}

h3,
.text--h3 {
  font-family: "Gira Sans";
  font-size: var(--font-size-h3);
  line-height: var(--font-leading-h3);
  font-weight: 300;
}

h4,
.text--h4 {
  font-family: "Gira Sans";
  font-size: var(--font-size-h4);
  line-height: var(--font-leading-h4);
}

p,
.text--body {
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
}

:root {
  --transition: 0.15s;
  --b-rad: 0.5rem;
  --b-rad_less: 0.3125rem;
}

body {
  background-color: #F3F3F7;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-col {
  flex-direction: column;
  display: flex;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.m-auto {
  margin: auto;
}

.just-center {
  justify-content: center;
}

.just-bet {
  justify-content: space-between;
}

.just-around {
  justify-content: space-around;
}

@media (max-width: 35.9375em) {
  .d-sm-block {
    display: block;
  }
  .d-sm-grid {
    display: grid;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-none {
    display: none;
  }
  .flex-sm-col {
    flex-direction: column;
    display: flex;
  }
  .flex-sm-row {
    flex-direction: row;
    display: flex;
  }
  .just-sm-center {
    justify-content: center;
  }
  .just-sm-bet {
    justify-content: space-between;
  }
  .just-sm-around {
    justify-content: space-around;
  }
}

@media (max-width: 47.9375em) {
  .d-md-block {
    display: block;
  }
  .d-md-grid {
    display: grid;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-none {
    display: none;
  }
  .flex-md-col {
    flex-direction: column;
    display: flex;
  }
  .flex-md-row {
    flex-direction: row;
    display: flex;
  }
  .just-md-center {
    justify-content: center;
  }
  .just-md-bet {
    justify-content: space-between;
  }
  .just-md-around {
    justify-content: space-around;
  }
}

@media (max-width: 61.9375em) {
  .d-lg-block {
    display: block;
  }
  .d-lg-grid {
    display: grid;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-none {
    display: none;
  }
  .flex-lg-col {
    flex-direction: column;
    display: flex;
  }
  .flex-lg-row {
    flex-direction: row;
    display: flex;
  }
  .just-lg-center {
    justify-content: center;
  }
  .just-lg-bet {
    justify-content: space-between;
  }
  .just-lg-around {
    justify-content: space-around;
  }
}

@media (max-width: 74.9375em) {
  .d-xl-block {
    display: block;
  }
  .d-xl-grid {
    display: grid;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-none {
    display: none;
  }
  .flex-xl-col {
    flex-direction: column;
    display: flex;
  }
  .flex-xl-row {
    flex-direction: row;
    display: flex;
  }
  .just-xl-center {
    justify-content: center;
  }
  .just-xl-bet {
    justify-content: space-between;
  }
  .just-xl-around {
    justify-content: space-around;
  }
}

@media (max-width: 87.4375em) {
  .d-xxl-block {
    display: block;
  }
  .d-xxl-grid {
    display: grid;
  }
  .d-xxl-flex {
    display: flex;
  }
  .d-xxl-none {
    display: none;
  }
  .flex-xxl-col {
    flex-direction: column;
    display: flex;
  }
  .flex-xxl-row {
    flex-direction: row;
    display: flex;
  }
  .just-xxl-center {
    justify-content: center;
  }
  .just-xxl-bet {
    justify-content: space-between;
  }
  .just-xxl-around {
    justify-content: space-around;
  }
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 95.375rem;
}

@media (max-width: 87.4375em) {
  .container {
    max-width: 69em;
  }
}

@media (max-width: 74.9375em) {
  .container {
    max-width: 57em;
  }
}

@media (max-width: 61.9375em) {
  .container {
    max-width: 43em;
  }
}

@media (max-width: 47.9375em) {
  .container {
    max-width: 32em;
  }
}

@media (max-width: 35.9375em) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-0 {
    width: 0%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-0 {
    width: 0%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-1 {
    width: 8.33333%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-2 {
    width: 16.66667%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-3 {
    width: 25%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-3 {
    width: 25%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-4 {
    width: 33.33333%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-5 {
    width: 41.66667%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-6 {
    width: 50%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-6 {
    width: 50%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-7 {
    width: 58.33333%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-8 {
    width: 66.66667%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-9 {
    width: 75%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-9 {
    width: 75%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-10 {
    width: 83.33333%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-11 {
    width: 91.66667%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 87.5em) {
  .col-12 {
    width: 100%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-0 {
    width: 0%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-3 {
    width: 25%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-6 {
    width: 50%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-9 {
    width: 75%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-12 {
    width: 100%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-0 {
    width: 0%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-3 {
    width: 25%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-6 {
    width: 50%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-9 {
    width: 75%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-12 {
    width: 100%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-0 {
    width: 0%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-3 {
    width: 25%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-6 {
    width: 50%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-9 {
    width: 75%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-0 {
    width: 0%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-3 {
    width: 25%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-6 {
    width: 50%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-9 {
    width: 75%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-0 {
    width: 0%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-1 {
    width: 8.33333%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-2 {
    width: 16.66667%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-3 {
    width: 25%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-4 {
    width: 33.33333%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-5 {
    width: 41.66667%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-6 {
    width: 50%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-7 {
    width: 58.33333%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-8 {
    width: 66.66667%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-9 {
    width: 75%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-10 {
    width: 83.33333%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-11 {
    width: 91.66667%;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-12 {
    width: 100%;
  }
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --section-description-spacing: 1rem;
}

.section--desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--desc > * + * {
  margin-top: var(--section-description-spacing);
}

.section--graphic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--img {
  position: relative;
}

.section--img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section--tags {
  margin-top: calc(var(--section-description-spacing) * 1.75);
}

.section--button {
  margin-top: calc(var(--section-description-spacing) * 4);
}

.scrollblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.scrollblock > * {
  margin-bottom: 3rem;
}

.link {
  -webkit-touch-callout: none;
  user-select: none;
}

.button {
  display: flex;
  flex-direction: row;
  border-radius: var(--b-rad);
  -webkit-border-radius: var(--b-rad);
  -moz-border-radius: var(--b-rad);
  -khtml-border-radius: var(--b-rad);
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
  transition: var(--transition);
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--button-background);
  --button-background: #C41263;
  --button-color: #F3F3F7;
  --button-icon-size: 1.25rem;
  --button-icon-margin: 0.75rem;
  --button-padding: 1.125rem;
  --button-padding-top: calc(var(--button-padding) - 0.25rem);
  --button-padding-bottom: calc(var(--button-padding) + 0.25rem);
  --button-padding-x: calc(var(--button-padding));
  padding: 0 var(--button-padding-x);
  width: fit-content;
  height: calc(var(--button-icon-size) + var(--button-padding-top) + var(--button-padding-bottom));
}

.button > * + * {
  margin-left: var(--button-icon-margin);
}

.button--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button--copy {
  color: var(--button-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button--icon {
  transition: var(--transition);
  --size: var(--button-icon-size);
  width: Min(var(--button-icon-size), calc(var(--button-icon-size) * (var(--mask-aspect-width) / var(--mask-aspect-height))));
  height: Min(var(--button-icon-size), calc(var(--button-icon-size) * (var(--mask-aspect-height) / var(--mask-aspect-width))));
}

.button--icon__mask {
  background-color: var(--button-color);
}

.button:hover, .button:focus {
  --button-background: #950647;
}

.button__alone .button--icon {
  transform: scale(1.3);
}

.button__pulse-right {
  transform: translateX(0rem);
}

.button__pulse-right:hover .button--icon, .button__pulse-right:focus .button--icon {
  transform: translateX(0.15rem);
}

.button__pulse-left {
  transform: translateX(0rem);
}

.button__pulse-left:hover .button--icon, .button__pulse-left:focus .button--icon {
  transform: translateX(-0.15rem);
}

.button__scale-in {
  transform: scale(1);
}

.button__scale-in:hover .button--icon, .button__scale-in:focus .button--icon {
  transform: scale(0.85);
}

.button__scale-out {
  transform: scale(1);
}

.button__scale-out:hover .button--icon, .button__scale-out:focus .button--icon {
  transform: scale(1.15);
}

.tag {
  font-size: var(--font-size-h4);
  padding: 0.4rem 0.5rem 0.25rem 0.5rem;
  border: 0.125rem solid #074391;
  border-radius: var(--b-rad_less);
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}

.tag--group {
  display: flex;
  flex-direction: row;
  --tag-spacing: 1rem;
}

.tag--group > * + * {
  margin-left: var(--tag-spacing);
}

.nav {
  --nav-height: 3.75rem;
  --nav-color: #074391;
  --nav-button-spacing: 0rem;
  --nav-button-padding-multiplier: 1.15;
  height: var(--nav-height);
  background-color: var(--nav-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.nav--group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav--logo a {
  font-family: "Gira Sans";
  font-size: var(--font-size-h3);
  line-height: var(--font-leading-h3);
  font-weight: 300;
  --font-size: var(--font-size-logo);
  font-size: var(--font-size);
  font-weight: 400;
}

.nav--links a {
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
  --font-size: var(--font-size-body);
}

.nav--item {
  text-decoration: none;
  color: #F3F3F7;
  background-color: var(--nav-color);
  height: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  --nav-button-pad-y: calc((var(--nav-height) - var(--font-size)) / 2);
  --nav-button-pad-x: calc(var(--nav-button-pad-y) * var(--nav-button-padding-multiplier));
  padding-top: var(--nav-button-pad-y);
  padding-bottom: var(--nav-button-pad-y);
  padding-left: var(--nav-button-pad-x);
  padding-right: var(--nav-button-pad-x);
}

.nav--item + .nav--item {
  margin-left: Max(calc(var(--nav-button-spacing) - (var(--nav-button-pad-x) * 2)), 0rem);
}

.nav--item:first-child {
  margin-left: calc(var(--nav-button-pad-x) * -1);
}

.nav--item:last-child {
  margin-right: calc(var(--nav-button-pad-x) * -1);
}

.nav--item:hover, .nav--item:focus {
  background-color: #E0E0EA;
  color: var(--nav-color);
}

.mask {
  --mask-aspect-width: 205;
  --mask-aspect-height: 168;
  mask-image: var(--mask-img);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

@supports (aspect-ratio: 1/1) {
  .mask {
    aspect-ratio: var(--mask-aspect-width) / var(--mask-aspect-height);
  }
}

@supports not (aspect-ratio: 1/1) {
  .mask {
    height: calc(100% / (var(--mask-aspect-width) / var(--mask-aspect-height)));
  }
}

.footer--actions {
  display: flex;
  flex-direction: row;
}

.footer--actions > * + * {
  margin-left: 1.25rem;
}

#Home--Hero .section--img {
  margin-right: auto;
  margin-left: auto;
  width: 9.5rem;
}

#Home--Hero .section--img .mask {
  background-color: #C41263;
}

#Home--Hero .section--desc .text--body {
  margin-top: calc(var(--section-description-spacing) * 1.3);
}

#Home--Makeright .section--img {
  height: 43rem;
}

#Home--Made .section--img {
  height: 43rem;
}

#Home--Koalako .section--img {
  height: 43rem;
}

#Home--Explorations .section--img {
  height: 43rem;
}
/*# sourceMappingURL=style.css.map */