* {
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

html,
body {
  height: 100%;
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --breakpoints: xs, sm, md, lg, xl, xxl;
}

:root {
  --xs:0em;
  --sm:36em;
  --md:48em;
  --lg:62em;
  --xl:75em;
  --xxl:87.5em;
}

.color--primary {
  color: #074391;
}

.color--secondary {
  color: #C41263;
}

.color--tertiary {
  color: #404064;
}

@font-face {
  font-family: "Gira Sans";
  src: url("/assets/fonts/gira_sans/Gira_Sans.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gira Sans";
  src: url("/assets/fonts/gira_sans/Gira_Sans_Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gira Sans";
  src: url("/assets/fonts/gira_sans/Gira_Sans_Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Tenon";
  src: url("/assets/fonts/tenon/Tenon.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tenon";
  src: url("/assets/fonts/tenon/Tenon_Medium.otf");
  font-weight: 500;
  font-style: normal;
}

:root {
  --font-size-h1: 3.375rem;
  --font-size-h2: 2.375rem;
  --font-size-h3: 1.625rem;
  --font-size-h4: 0.875rem;
  --font-size-body: 1.125rem;
  --font-size-logo: 1.375rem;
  --font-leading-h1: 4rem;
  --font-leading-h2: 3.125rem;
  --font-leading-h3: 2.3125rem;
  --font-leading-h4: 1.25rem;
  --font-leading-body: 1.5rem;
  --font-margin-bottom-h2: 1.5rem;
  --font-margin-bottom-h3: 1.125rem;
  --font-margin-bottom-h4: 0.25rem;
  font-family: "Tenon";
  color: #074391;
}

h1,
.text--h1 {
  font-family: "Gira Sans";
  font-size: var(--font-size-h1);
  line-height: var(--font-leading-h1);
}

h2,
.text--h2 {
  font-family: "Gira Sans";
  font-size: var(--font-size-h2);
  line-height: var(--font-leading-h2);
}

h3,
.text--h3 {
  font-family: "Gira Sans";
  font-size: var(--font-size-h3);
  line-height: var(--font-leading-h3);
  font-weight: 300;
}

h4,
.text--h4 {
  font-family: "Gira Sans";
  font-size: var(--font-size-h4);
  line-height: var(--font-leading-h4);
  color: #C41263;
}

p,
.text--body {
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
}

:root {
  --transition: 0.1s;
  --b-rad: 0.5rem;
  --b-rad_less: 0.3125rem;
}

body {
  background-color: #F3F3F7;
}

body p, body li {
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
}

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 70.75rem;
}

:root {
  --site-max-width: 70.75rem;
}

@media (max-width: 87.4375em) {
  .container {
    max-width: 51.15em;
  }
  :root {
    --site-max-width: 51.15em;
  }
}

.container__wide {
  max-width: 95.375rem;
}

:root {
  --site-max-width_wide: 95.375rem;
}

@media (max-width: 87.4375em) {
  .container__wide {
    max-width: 69em;
  }
  :root {
    --site-max-width_wide: 69em;
  }
}

@media (max-width: 74.9375em) {
  .container {
    max-width: 42.25em;
  }
  :root {
    --site-max-width: 42.25em;
  }
}

@media (max-width: 74.9375em) {
  .container__wide {
    max-width: 57em;
  }
  :root {
    --site-max-width_wide: 57em;
  }
}

@media (max-width: 61.9375em) {
  .container {
    max-width: 31.85em;
  }
  :root {
    --site-max-width: 31.85em;
  }
}

@media (max-width: 61.9375em) {
  .container__wide {
    max-width: 43em;
  }
  :root {
    --site-max-width_wide: 43em;
  }
}

@media (max-width: 47.9375em) {
  .container {
    max-width: 23.75em;
  }
  :root {
    --site-max-width: 23.75em;
  }
}

@media (max-width: 47.9375em) {
  .container__wide {
    max-width: 32em;
  }
  :root {
    --site-max-width_wide: 32em;
  }
}

@media (max-width: 35.9375em) {
  .container {
    max-width: 100%;
  }
  :root {
    --site-max-width: 100%;
  }
}

@media (max-width: 35.9375em) {
  .container__wide {
    max-width: 100%;
  }
  :root {
    --site-max-width_wide: 100%;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-0 {
    width: 0%;
    --column-width: 0;
  }
}

@media screen and (min-width: 87.5em) {
  .col-0 {
    width: 0%;
    --column-width: 0;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-1 {
    width: 8.33333%;
    --column-width: 1;
  }
}

@media screen and (min-width: 87.5em) {
  .col-1 {
    width: 8.33333%;
    --column-width: 1;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-2 {
    width: 16.66667%;
    --column-width: 2;
  }
}

@media screen and (min-width: 87.5em) {
  .col-2 {
    width: 16.66667%;
    --column-width: 2;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-3 {
    width: 25%;
    --column-width: 3;
  }
}

@media screen and (min-width: 87.5em) {
  .col-3 {
    width: 25%;
    --column-width: 3;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-4 {
    width: 33.33333%;
    --column-width: 4;
  }
}

@media screen and (min-width: 87.5em) {
  .col-4 {
    width: 33.33333%;
    --column-width: 4;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-5 {
    width: 41.66667%;
    --column-width: 5;
  }
}

@media screen and (min-width: 87.5em) {
  .col-5 {
    width: 41.66667%;
    --column-width: 5;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-6 {
    width: 50%;
    --column-width: 6;
  }
}

@media screen and (min-width: 87.5em) {
  .col-6 {
    width: 50%;
    --column-width: 6;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-7 {
    width: 58.33333%;
    --column-width: 7;
  }
}

@media screen and (min-width: 87.5em) {
  .col-7 {
    width: 58.33333%;
    --column-width: 7;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-8 {
    width: 66.66667%;
    --column-width: 8;
  }
}

@media screen and (min-width: 87.5em) {
  .col-8 {
    width: 66.66667%;
    --column-width: 8;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-9 {
    width: 75%;
    --column-width: 9;
  }
}

@media screen and (min-width: 87.5em) {
  .col-9 {
    width: 75%;
    --column-width: 9;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-10 {
    width: 83.33333%;
    --column-width: 10;
  }
}

@media screen and (min-width: 87.5em) {
  .col-10 {
    width: 83.33333%;
    --column-width: 10;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-11 {
    width: 91.66667%;
    --column-width: 11;
  }
}

@media screen and (min-width: 87.5em) {
  .col-11 {
    width: 91.66667%;
    --column-width: 11;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-12 {
    width: 100%;
    --column-width: 12;
  }
}

@media screen and (min-width: 87.5em) {
  .col-12 {
    width: 100%;
    --column-width: 12;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-0 {
    width: 0%;
    --column-width: 0;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-1 {
    width: 8.33333%;
    --column-width: 1;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-2 {
    width: 16.66667%;
    --column-width: 2;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-3 {
    width: 25%;
    --column-width: 3;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-4 {
    width: 33.33333%;
    --column-width: 4;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-5 {
    width: 41.66667%;
    --column-width: 5;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-6 {
    width: 50%;
    --column-width: 6;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-7 {
    width: 58.33333%;
    --column-width: 7;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-8 {
    width: 66.66667%;
    --column-width: 8;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-9 {
    width: 75%;
    --column-width: 9;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-10 {
    width: 83.33333%;
    --column-width: 10;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-11 {
    width: 91.66667%;
    --column-width: 11;
  }
}

@media screen and (max-width: 87.4375em) {
  .col-xxl-12 {
    width: 100%;
    --column-width: 12;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-0 {
    width: 0%;
    --column-width: 0;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-1 {
    width: 8.33333%;
    --column-width: 1;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-2 {
    width: 16.66667%;
    --column-width: 2;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-3 {
    width: 25%;
    --column-width: 3;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-4 {
    width: 33.33333%;
    --column-width: 4;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-5 {
    width: 41.66667%;
    --column-width: 5;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-6 {
    width: 50%;
    --column-width: 6;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-7 {
    width: 58.33333%;
    --column-width: 7;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-8 {
    width: 66.66667%;
    --column-width: 8;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-9 {
    width: 75%;
    --column-width: 9;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-10 {
    width: 83.33333%;
    --column-width: 10;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-11 {
    width: 91.66667%;
    --column-width: 11;
  }
}

@media screen and (max-width: 74.9375em) {
  .col-xl-12 {
    width: 100%;
    --column-width: 12;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-0 {
    width: 0%;
    --column-width: 0;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-1 {
    width: 8.33333%;
    --column-width: 1;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-2 {
    width: 16.66667%;
    --column-width: 2;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-3 {
    width: 25%;
    --column-width: 3;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-4 {
    width: 33.33333%;
    --column-width: 4;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-5 {
    width: 41.66667%;
    --column-width: 5;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-6 {
    width: 50%;
    --column-width: 6;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-7 {
    width: 58.33333%;
    --column-width: 7;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-8 {
    width: 66.66667%;
    --column-width: 8;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-9 {
    width: 75%;
    --column-width: 9;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-10 {
    width: 83.33333%;
    --column-width: 10;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-11 {
    width: 91.66667%;
    --column-width: 11;
  }
}

@media screen and (max-width: 61.9375em) {
  .col-lg-12 {
    width: 100%;
    --column-width: 12;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-0 {
    width: 0%;
    --column-width: 0;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-1 {
    width: 8.33333%;
    --column-width: 1;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-2 {
    width: 16.66667%;
    --column-width: 2;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-3 {
    width: 25%;
    --column-width: 3;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-4 {
    width: 33.33333%;
    --column-width: 4;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-5 {
    width: 41.66667%;
    --column-width: 5;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-6 {
    width: 50%;
    --column-width: 6;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-7 {
    width: 58.33333%;
    --column-width: 7;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-8 {
    width: 66.66667%;
    --column-width: 8;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-9 {
    width: 75%;
    --column-width: 9;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-10 {
    width: 83.33333%;
    --column-width: 10;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-11 {
    width: 91.66667%;
    --column-width: 11;
  }
}

@media screen and (max-width: 47.9375em) {
  .col-md-12 {
    width: 100%;
    --column-width: 12;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-0 {
    width: 0%;
    --column-width: 0;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-1 {
    width: 8.33333%;
    --column-width: 1;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-2 {
    width: 16.66667%;
    --column-width: 2;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-3 {
    width: 25%;
    --column-width: 3;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-4 {
    width: 33.33333%;
    --column-width: 4;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-5 {
    width: 41.66667%;
    --column-width: 5;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-6 {
    width: 50%;
    --column-width: 6;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-7 {
    width: 58.33333%;
    --column-width: 7;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-8 {
    width: 66.66667%;
    --column-width: 8;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-9 {
    width: 75%;
    --column-width: 9;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-10 {
    width: 83.33333%;
    --column-width: 10;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-11 {
    width: 91.66667%;
    --column-width: 11;
  }
}

@media screen and (max-width: 35.9375em) {
  .col-sm-12 {
    width: 100%;
    --column-width: 12;
  }
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --panel-description-spacing: 1rem;
}

.panel--desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel--desc > * + * {
  margin-top: var(--panel-description-spacing);
}

.panel--graphic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel--img {
  position: relative;
}

.panel--img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.panel--tags {
  margin-top: calc(var(--panel-description-spacing) * 1.75);
}

.panel--button {
  margin-top: calc(var(--panel-description-spacing) * 4);
}

.studypanel {
  --studypanel-img-height: 43rem;
}

.studypanel--img {
  height: Min(var(--studypanel-img-height), calc(var(--studypanel-img-height) * (var(--img-aspect-height) / var(--img-aspect-width))));
}

.studypanel__study {
  margin-top: 8.5rem;
  margin-bottom: 8.5rem;
}

.scrollblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.scrollblock > * {
  margin-bottom: 3rem;
}

.link {
  -webkit-touch-callout: none;
  user-select: none;
}

:root {
  --button-icon-size: 1.25rem;
  --button-icon-scale: 1;
  --button-icon-margin: 0.75rem;
  --button-padding: 1rem;
  --button-padding-top: calc(var(--button-padding) - 0.25rem);
  --button-padding-bottom: calc(var(--button-padding) + 0.25rem);
  --button-height: calc(var(--button-icon-size) + var(--button-padding-top) + var(--button-padding-bottom));
}

.button {
  display: flex;
  flex-direction: row;
  border-radius: var(--b-rad);
  -webkit-border-radius: var(--b-rad);
  -moz-border-radius: var(--b-rad);
  -khtml-border-radius: var(--b-rad);
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
  transition: var(--transition);
  -webkit-touch-callout: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--button-background);
  --button-background: #C41263;
  --button-color: #F3F3F7;
  padding: 0 var(--button-padding);
  width: fit-content;
  height: var(--button-height);
}

.button > * + * {
  margin-left: var(--button-icon-margin);
}

.button--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button--copy {
  color: var(--button-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button--icon {
  transition: var(--transition);
  --size: var(--button-icon-size);
  transform: scale(var(--button-icon-scale)) translate(0rem);
  width: Min(var(--button-icon-size), calc(var(--button-icon-size) * (var(--mask-aspect-width) / var(--mask-aspect-height))));
  height: Min(var(--button-icon-size), calc(var(--button-icon-size) * (var(--mask-aspect-height) / var(--mask-aspect-width))));
}

.button--icon__mask {
  background-color: var(--button-color);
}

.button {
  transition: var(--transition);
}

.button:hover, .button:focus, .button.focus {
  --button-background: #950647;
}

.button__right {
  padding: 0 calc(var(--button-padding) + 0.15rem) 0 calc(var(--button-padding) + 0.25rem);
}

.button__left {
  padding: 0 calc(var(--button-padding) + 0.4rem) 0 calc(var(--button-padding) + 0.15rem);
}

.button__alone .button--icon {
  --button-icon-scale: 1.3;
}

.button__pulse-right {
  transition: var(--transition);
}

.button__pulse-right:hover .button--icon, .button__pulse-right:focus .button--icon, .button__pulse-right.focus .button--icon {
  transform: translateX(0.15rem);
}

.button__pulse-left {
  transition: var(--transition);
}

.button__pulse-left:hover .button--icon, .button__pulse-left:focus .button--icon, .button__pulse-left.focus .button--icon {
  transform: translateX(-0.15rem);
}

.button__pulse-down .button--icon {
  margin-top: -0.1rem;
}

.button__pulse-down {
  transition: var(--transition);
}

.button__pulse-down:hover .button--icon, .button__pulse-down:focus .button--icon, .button__pulse-down.focus .button--icon {
  transform: translateY(0.15rem);
}

.button__scale-in {
  transition: var(--transition);
}

.button__scale-in:hover .button--icon, .button__scale-in:focus .button--icon, .button__scale-in.focus .button--icon {
  transform: scale(calc(var(--button-icon-scale) - 0.1));
}

.button__scale-out {
  transition: var(--transition);
}

.button__scale-out:hover .button--icon, .button__scale-out:focus .button--icon, .button__scale-out.focus .button--icon {
  transform: scale(calc(var(--button-icon-scale) + 0.1));
}

.tag {
  font-size: var(--font-size-h4);
  padding: 0.4rem 0.5rem 0.25rem 0.5rem;
  border: 0.125rem solid #074391;
  border-radius: var(--b-rad_less);
  background-color: #F3F3F7;
  width: var(--size);
  height: var(--size);
  --size: fit-content;
  white-space: nowrap;
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}

.tag--group {
  display: flex;
  flex-direction: row;
  --tag-spacing: 1rem;
}

.tag--group > * + * {
  margin-left: var(--tag-spacing);
}

.tag__tool {
  padding: 0.4rem 0.55rem 0.25rem 0.55rem;
  border-radius: 100rem;
}

.nav {
  --nav-height: 3.75rem;
  --nav-color: #074391;
  --nav-button-spacing: 0rem;
  --nav-button-padding-multiplier: 1.25;
  height: var(--nav-height);
  background-color: var(--nav-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.nav--group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav--logo a {
  font-family: "Gira Sans";
  font-size: var(--font-size-h3);
  line-height: var(--font-leading-h3);
  font-weight: 300;
  --font-size: var(--font-size-logo);
  font-size: var(--font-size);
  font-weight: 400;
  color: #F3F3F7;
}

.nav--links a {
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
  --font-size: var(--font-size-body);
}

.nav--item {
  text-decoration: none;
  color: #F3F3F7;
  background-color: var(--nav-color);
  height: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  --nav-button-pad-y: calc((var(--nav-height) - var(--font-size)) / 2);
  --nav-button-pad-x: calc(var(--nav-button-pad-y) * var(--nav-button-padding-multiplier));
  padding-top: var(--nav-button-pad-y);
  padding-bottom: var(--nav-button-pad-y);
  padding-left: var(--nav-button-pad-x);
  padding-right: var(--nav-button-pad-x);
}

.nav--item + .nav--item {
  margin-left: Max(calc(var(--nav-button-spacing) - (var(--nav-button-pad-x) * 2)), 0rem);
}

.nav--item:first-child {
  margin-left: calc(var(--nav-button-pad-x) * -1);
}

.nav--item:last-child {
  margin-right: calc(var(--nav-button-pad-x) * -1);
}

.nav--item {
  transition: var(--transition);
}

.nav--item:hover, .nav--item:focus, .nav--item.focus {
  background-color: #E0E0EA;
  color: var(--nav-color);
}

.mask {
  mask-image: var(--mask-img);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

@supports (aspect-ratio: 1/1) {
  .mask {
    aspect-ratio: var(--mask-aspect-width) / var(--mask-aspect-height);
  }
}

@supports not (aspect-ratio: 1/1) {
  .mask {
    height: calc(100% / (var(--mask-aspect-width) / var(--mask-aspect-height)));
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --footer-text-block-spacing: 1rem;
  --footer-height: 21rem;
  --footer-text-block-top-margin: calc(var(--footer-text-block-spacing) - 0.25rem);
  --footer-button-top-margin: calc(var(--footer-text-block-spacing) + 0.5rem);
  --footer-contact-height: calc(var(--font-leading-h3) + var(--font-leading-body) + var(--footer-text-block-top-margin) + var(--footer-button-top-margin) + var(--button-height));
  --column-grid-max: 12;
}

.footer, .footer--info, .footer--actions, .footer--sitemap {
  height: var(--footer-height);
}

.footer--info {
  background-color: #E0E0EA;
}

.footer--contact {
  display: flex;
  flex-direction: column;
  padding-left: calc(((((100 * (var(--column-grid-max) / var(--column-width))) * 1%) - var(--site-max-width_wide)) / 2));
}

.footer--contact > * + * {
  margin-top: var(--footer-text-block-top-margin);
}

.footer--actions {
  display: flex;
  flex-direction: row;
  margin-top: var(--footer-button-top-margin);
  height: auto;
}

.footer--actions > * + * {
  margin-left: 1.25rem;
}

.footer--sitemap {
  background-color: #404064;
  display: flex;
  flex-direction: column;
}

.sitemap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: calc((var(--footer-height) - var(--footer-contact-height)) / 2);
}

.sitemap > * + * {
  margin-left: 4.75rem;
}

.sitemap--title a,
.sitemap--item a {
  color: #F3F3F7;
  text-decoration: none;
  cursor: pointer;
}

.sitemap--title {
  display: flex;
  flex-direction: row;
  border-radius: var(--b-rad_less);
  width: fit-content;
  margin: -0.25rem -0.5rem -0.15rem -0.5rem;
  margin-bottom: calc(var(--footer-text-block-top-margin) - 0.15rem);
}

.sitemap--title a {
  padding: 0.25rem 0.5rem 0.15rem 0.5rem;
}

.sitemap--title {
  transition: var(--transition);
}

.sitemap--title:hover, .sitemap--title:focus, .sitemap--title.focus {
  background-color: #5D5D7E;
}

.sitemap--title a {
  font-family: "Gira Sans";
  font-size: var(--font-size-h3);
  line-height: var(--font-leading-h3);
  font-weight: 300;
  color: #F3F3F7;
}

.sitemap--links {
  list-style: none;
}

.sitemap--links a {
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
}

.sitemap--item {
  display: flex;
  flex-direction: row;
  border-radius: var(--b-rad_less);
  width: fit-content;
  margin: -0.25rem -0.5rem -0.15rem -0.5rem;
  margin-bottom: -0.15rem;
}

.sitemap--item a {
  padding: 0.25rem 0.5rem 0.15rem 0.5rem;
}

.sitemap--item {
  transition: var(--transition);
}

.sitemap--item:hover, .sitemap--item:focus, .sitemap--item.focus {
  background-color: #5D5D7E;
}

.sitemap--item + .sitemap--item {
  margin-top: 0.65rem;
}

.sitemap--item:last-child {
  margin-bottom: 0;
}

.brief {
  background-color: #E0E0EA;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.brief--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.brief--group__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.brief--desc {
  width: 80%;
}

.brief--point {
  grid-column: span 1;
}

.brief--title {
  margin-bottom: var(--font-margin-bottom-h4);
}

.brief--list li {
  list-style-type: none;
}

.brief--tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  --tag-spacing: 0.65rem;
  column-gap: calc(var(--tag-spacing) * 0.85);
  row-gap: var(--tag-spacing);
}

:root {
  --section-gap: 12.5rem;
  --section-gap_half: calc(var(--section-gap) / 2);
}

.section--wrapper,
.chapter--wrapper {
  margin-top: var(--section-gap);
  position: relative;
}

.section {
  --section-text-spacing: 1.25rem;
  display: flex;
  flex-direction: row;
}

.section--title + * {
  margin-top: var(--font-margin-bottom-h4);
}

.section--heading.h1 + * {
  margin-top: var(--font-margin-bottom-h1);
}

.section--heading.h2 + * {
  margin-top: var(--font-margin-bottom-h2);
}

.section--heading.h3 + * {
  margin-top: var(--font-margin-bottom-h3);
}

.section--heading.h4 + * {
  margin-top: var(--font-margin-bottom-h4);
}

.section--copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--description > * + * {
  margin-top: var(--section-text-spacing);
}

.section--graphic img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section__background {
  justify-content: space-between;
  --gap: 6rem;
  gap: var(--gap);
  column-gap: var(--gap);
  row-gap: var(--gap);
}

.section__background .section--graphic {
  opacity: 0.3;
}

.section__pitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --gap: 10rem;
  gap: var(--gap);
  column-gap: var(--gap);
  row-gap: var(--gap);
}

.section__pitch .section--heading {
  margin-top: calc(var(--section-text-spacing) * 2);
}

.section__pitch .section--heading + * {
  margin-top: 0;
}

.section__pitch .section--description {
  margin-top: 0.5rem;
  font-family: "Gira Sans";
  font-size: var(--font-size-h3);
  line-height: var(--font-leading-h3);
  font-weight: 300;
  font-weight: 400;
}

.section__pitch .mask {
  --mask-size: 7.5rem;
  width: calc((var(--mask-aspect-width) / var(--mask-aspect-height)) * var(--mask-size));
}

.section__pitch .section--graphic {
  padding-left: 2rem;
}

.section__color, .section__image {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
}

.section__color:not(.section__background) *, .section__image:not(.section__background) * {
  color: #F3F3F7;
}

.section__color + .section__color, .section__image + .section__color, .section__color + .section__image, .section__image + .section__image {
  margin-top: 0;
}

.chapter__color > * > *:not(.section__background) * {
  color: #F3F3F7;
}

.chapter__color > * > *:not(.section__background) .mask {
  background-color: #F3F3F7;
}

.section__background,
.chapter__background {
  background-color: #F3F3F7;
}

.section__primary,
.chapter__primary {
  background-color: #074391;
}

.section__makeright-tertiary,
.chapter__makeright-tertiary {
  background-color: #25313C;
}

.background {
  position: absolute;
  --size: 100%;
  width: var(--size);
  height: var(--size);
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}

.background--img {
  --size: 100%;
  width: var(--size);
  height: var(--size);
}

.background--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gantt {
  --gantt-padding: 0.735rem;
  --gantt-top-margin: 2.5rem;
  --gantt-phase-height: 2.35rem;
  --gantt-phase-spacing: 1.5rem;
  --gantt-phase-top-margin: 1.25rem;
  --gantt-cycle-spacing: 3.75rem;
  --gantt-label-width: 16rem;
  --gantt-button-width: 3rem;
  --gantt-bar-height: 0.3125rem;
}

.h2 + .gantt {
  margin-top: var(--gantt-top-margin);
}

.gantt--cycle + .gantt--cycle {
  margin-top: var(--gantt-cycle-spacing);
}

.gantt--timeline {
  display: grid;
  grid-template-columns: var(--gantt-label-width) repeat(var(--gantt-weeks_less), 1fr) var(--gantt-button-width);
  margin-bottom: var(--gantt-phase-top-margin);
}

.gantt--phase {
  background-color: #E9E9F2;
  height: var(--gantt-phase-height);
  border-radius: var(--b-rad);
  -webkit-border-radius: var(--b-rad);
  -moz-border-radius: var(--b-rad);
  -khtml-border-radius: var(--b-rad);
  display: grid;
  grid-template-columns: var(--gantt-label-width) repeat(var(--gantt-weeks_less), 1fr) var(--gantt-button-width);
}

.gantt--phase + .gantt--phase {
  margin-top: var(--gantt-phase-spacing);
}

.gantt .bar {
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -khtml-border-radius: 100rem;
}

.gantt .bar--group {
  grid-column: span var(--gantt-weeks_less);
  height: var(--gantt-bar-height);
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100rem;
  -webkit-border-radius: 100rem;
  -moz-border-radius: 100rem;
  -khtml-border-radius: 100rem;
  display: grid;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.gantt .bar--wrapper {
  display: grid;
  grid-column: span var(--gantt-weeks_less);
  grid-template-columns: repeat(var(--gantt-days_less), 1fr);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.gantt .bar__empty {
  background-color: #d1d1de;
  grid-column: span var(--gantt-days_less);
}

.gantt .bar__filled {
  background-color: #C41263;
  grid-column: var(--gantt-phase-start)/var(--gantt-phase-end);
}

.gantt--icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gantt--icon .mask {
  width: 1.1rem;
  background-color: #C41263;
}

.gantt .label--unit {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  width: 100%;
}

.gantt .label--unit span {
  width: 100%;
  position: absolute;
  left: -25%;
  transform: translateX(-25%);
}

.gantt .label--phase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--gantt-padding);
}

.gantt .label__primary {
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 500;
}

.gantt .label__secondary {
  font-family: "Tenon";
  font-size: var(--font-size-body);
  line-height: var(--font-leading-body);
  font-weight: 400;
  color: #C41263;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-col {
  flex-direction: column;
  display: flex;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.gap-0 {
  --column-gap: 0;
  --row-gap: 0;
  --gap: 0;
  column-gap: 0;
  row-gap: 0;
  gap: 0;
}

.gap-1 {
  --column-gap: 0.5rem;
  --row-gap: 0.5rem;
  --gap: 0.5rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  gap: 0.5rem;
}

.gap-2 {
  --column-gap: 1rem;
  --row-gap: 1rem;
  --gap: 1rem;
  column-gap: 1rem;
  row-gap: 1rem;
  gap: 1rem;
}

.gap-3 {
  --column-gap: 2rem;
  --row-gap: 2rem;
  --gap: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
  gap: 2rem;
}

.gap-4 {
  --column-gap: 3rem;
  --row-gap: 3rem;
  --gap: 3rem;
  column-gap: 3rem;
  row-gap: 3rem;
  gap: 3rem;
}

.gap-5 {
  --column-gap: 4rem;
  --row-gap: 4rem;
  --gap: 4rem;
  column-gap: 4rem;
  row-gap: 4rem;
  gap: 4rem;
}

.gap-6 {
  --column-gap: 8rem;
  --row-gap: 8rem;
  --gap: 8rem;
  column-gap: 8rem;
  row-gap: 8rem;
  gap: 8rem;
}

.m-auto {
  margin: auto;
}

.just-center {
  justify-content: center;
}

.just-bet {
  justify-content: space-between;
}

.just-around {
  justify-content: space-around;
}

@media (max-width: 35.9375em) {
  .d-sm-block {
    display: block;
  }
  .d-sm-grid {
    display: grid;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-none {
    display: none;
  }
  .flex-sm-col {
    flex-direction: column;
    display: flex;
  }
  .flex-sm-row {
    flex-direction: row;
    display: flex;
  }
  .gap-sm-0 {
    --column-gap: 0;
    --row-gap: 0;
    --gap: 0;
    column-gap: 0;
    row-gap: 0;
    gap: 0;
  }
  .gap-sm-1 {
    --column-gap: 0.5rem;
    --row-gap: 0.5rem;
    --gap: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    gap: 0.5rem;
  }
  .gap-sm-2 {
    --column-gap: 1rem;
    --row-gap: 1rem;
    --gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 1rem;
  }
  .gap-sm-3 {
    --column-gap: 2rem;
    --row-gap: 2rem;
    --gap: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    gap: 2rem;
  }
  .gap-sm-4 {
    --column-gap: 3rem;
    --row-gap: 3rem;
    --gap: 3rem;
    column-gap: 3rem;
    row-gap: 3rem;
    gap: 3rem;
  }
  .gap-sm-5 {
    --column-gap: 4rem;
    --row-gap: 4rem;
    --gap: 4rem;
    column-gap: 4rem;
    row-gap: 4rem;
    gap: 4rem;
  }
  .gap-sm-6 {
    --column-gap: 8rem;
    --row-gap: 8rem;
    --gap: 8rem;
    column-gap: 8rem;
    row-gap: 8rem;
    gap: 8rem;
  }
  .just-sm-center {
    justify-content: center;
  }
  .just-sm-bet {
    justify-content: space-between;
  }
  .just-sm-around {
    justify-content: space-around;
  }
}

@media (max-width: 47.9375em) {
  .d-md-block {
    display: block;
  }
  .d-md-grid {
    display: grid;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-none {
    display: none;
  }
  .flex-md-col {
    flex-direction: column;
    display: flex;
  }
  .flex-md-row {
    flex-direction: row;
    display: flex;
  }
  .gap-md-0 {
    --column-gap: 0;
    --row-gap: 0;
    --gap: 0;
    column-gap: 0;
    row-gap: 0;
    gap: 0;
  }
  .gap-md-1 {
    --column-gap: 0.5rem;
    --row-gap: 0.5rem;
    --gap: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    gap: 0.5rem;
  }
  .gap-md-2 {
    --column-gap: 1rem;
    --row-gap: 1rem;
    --gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 1rem;
  }
  .gap-md-3 {
    --column-gap: 2rem;
    --row-gap: 2rem;
    --gap: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    gap: 2rem;
  }
  .gap-md-4 {
    --column-gap: 3rem;
    --row-gap: 3rem;
    --gap: 3rem;
    column-gap: 3rem;
    row-gap: 3rem;
    gap: 3rem;
  }
  .gap-md-5 {
    --column-gap: 4rem;
    --row-gap: 4rem;
    --gap: 4rem;
    column-gap: 4rem;
    row-gap: 4rem;
    gap: 4rem;
  }
  .gap-md-6 {
    --column-gap: 8rem;
    --row-gap: 8rem;
    --gap: 8rem;
    column-gap: 8rem;
    row-gap: 8rem;
    gap: 8rem;
  }
  .just-md-center {
    justify-content: center;
  }
  .just-md-bet {
    justify-content: space-between;
  }
  .just-md-around {
    justify-content: space-around;
  }
}

@media (max-width: 61.9375em) {
  .d-lg-block {
    display: block;
  }
  .d-lg-grid {
    display: grid;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-none {
    display: none;
  }
  .flex-lg-col {
    flex-direction: column;
    display: flex;
  }
  .flex-lg-row {
    flex-direction: row;
    display: flex;
  }
  .gap-lg-0 {
    --column-gap: 0;
    --row-gap: 0;
    --gap: 0;
    column-gap: 0;
    row-gap: 0;
    gap: 0;
  }
  .gap-lg-1 {
    --column-gap: 0.5rem;
    --row-gap: 0.5rem;
    --gap: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    gap: 0.5rem;
  }
  .gap-lg-2 {
    --column-gap: 1rem;
    --row-gap: 1rem;
    --gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 1rem;
  }
  .gap-lg-3 {
    --column-gap: 2rem;
    --row-gap: 2rem;
    --gap: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    gap: 2rem;
  }
  .gap-lg-4 {
    --column-gap: 3rem;
    --row-gap: 3rem;
    --gap: 3rem;
    column-gap: 3rem;
    row-gap: 3rem;
    gap: 3rem;
  }
  .gap-lg-5 {
    --column-gap: 4rem;
    --row-gap: 4rem;
    --gap: 4rem;
    column-gap: 4rem;
    row-gap: 4rem;
    gap: 4rem;
  }
  .gap-lg-6 {
    --column-gap: 8rem;
    --row-gap: 8rem;
    --gap: 8rem;
    column-gap: 8rem;
    row-gap: 8rem;
    gap: 8rem;
  }
  .just-lg-center {
    justify-content: center;
  }
  .just-lg-bet {
    justify-content: space-between;
  }
  .just-lg-around {
    justify-content: space-around;
  }
}

@media (max-width: 74.9375em) {
  .d-xl-block {
    display: block;
  }
  .d-xl-grid {
    display: grid;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-none {
    display: none;
  }
  .flex-xl-col {
    flex-direction: column;
    display: flex;
  }
  .flex-xl-row {
    flex-direction: row;
    display: flex;
  }
  .gap-xl-0 {
    --column-gap: 0;
    --row-gap: 0;
    --gap: 0;
    column-gap: 0;
    row-gap: 0;
    gap: 0;
  }
  .gap-xl-1 {
    --column-gap: 0.5rem;
    --row-gap: 0.5rem;
    --gap: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    gap: 0.5rem;
  }
  .gap-xl-2 {
    --column-gap: 1rem;
    --row-gap: 1rem;
    --gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 1rem;
  }
  .gap-xl-3 {
    --column-gap: 2rem;
    --row-gap: 2rem;
    --gap: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    gap: 2rem;
  }
  .gap-xl-4 {
    --column-gap: 3rem;
    --row-gap: 3rem;
    --gap: 3rem;
    column-gap: 3rem;
    row-gap: 3rem;
    gap: 3rem;
  }
  .gap-xl-5 {
    --column-gap: 4rem;
    --row-gap: 4rem;
    --gap: 4rem;
    column-gap: 4rem;
    row-gap: 4rem;
    gap: 4rem;
  }
  .gap-xl-6 {
    --column-gap: 8rem;
    --row-gap: 8rem;
    --gap: 8rem;
    column-gap: 8rem;
    row-gap: 8rem;
    gap: 8rem;
  }
  .just-xl-center {
    justify-content: center;
  }
  .just-xl-bet {
    justify-content: space-between;
  }
  .just-xl-around {
    justify-content: space-around;
  }
}

@media (max-width: 87.4375em) {
  .d-xxl-block {
    display: block;
  }
  .d-xxl-grid {
    display: grid;
  }
  .d-xxl-flex {
    display: flex;
  }
  .d-xxl-none {
    display: none;
  }
  .flex-xxl-col {
    flex-direction: column;
    display: flex;
  }
  .flex-xxl-row {
    flex-direction: row;
    display: flex;
  }
  .gap-xxl-0 {
    --column-gap: 0;
    --row-gap: 0;
    --gap: 0;
    column-gap: 0;
    row-gap: 0;
    gap: 0;
  }
  .gap-xxl-1 {
    --column-gap: 0.5rem;
    --row-gap: 0.5rem;
    --gap: 0.5rem;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    gap: 0.5rem;
  }
  .gap-xxl-2 {
    --column-gap: 1rem;
    --row-gap: 1rem;
    --gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    gap: 1rem;
  }
  .gap-xxl-3 {
    --column-gap: 2rem;
    --row-gap: 2rem;
    --gap: 2rem;
    column-gap: 2rem;
    row-gap: 2rem;
    gap: 2rem;
  }
  .gap-xxl-4 {
    --column-gap: 3rem;
    --row-gap: 3rem;
    --gap: 3rem;
    column-gap: 3rem;
    row-gap: 3rem;
    gap: 3rem;
  }
  .gap-xxl-5 {
    --column-gap: 4rem;
    --row-gap: 4rem;
    --gap: 4rem;
    column-gap: 4rem;
    row-gap: 4rem;
    gap: 4rem;
  }
  .gap-xxl-6 {
    --column-gap: 8rem;
    --row-gap: 8rem;
    --gap: 8rem;
    column-gap: 8rem;
    row-gap: 8rem;
    gap: 8rem;
  }
  .just-xxl-center {
    justify-content: center;
  }
  .just-xxl-bet {
    justify-content: space-between;
  }
  .just-xxl-around {
    justify-content: space-around;
  }
}

#Home--Hero .panel--img {
  margin-right: auto;
  margin-left: auto;
  width: 9.5rem;
}

#Home--Hero .panel--img .mask {
  background-color: #C41263;
}

#Home--Hero .panel--desc .text--body {
  margin-top: calc(var(--panel-description-spacing) * 1.3);
}

#Home--Makeright .panel--img, #Home--Made .panel--img, #Home--Koalako .panel--img, #Home--Explorations .panel--img {
  height: 43rem;
}

#Makeright {
  --background-info-gap: 6rem;
}

#Makeright #Background .section {
  gap: var(--background-info-gap);
  column-gap: var(--background-info-gap);
  row-gap: var(--background-info-gap);
}

#Makeright #Background .section--graphic img {
  width: calc((var(--img-aspect-width) / var(--img-aspect-height)) * 17.5rem);
}

#Makeright #Challenge .section {
  gap: var(--background-info-gap);
  column-gap: var(--background-info-gap);
  row-gap: var(--background-info-gap);
}

#Makeright #Challenge .section--graphic img {
  width: calc((var(--img-aspect-width) / var(--img-aspect-height)) * 17.5rem);
}

#Makeright #HeroLogo {
  padding-top: 5rem;
  padding-bottom: 5.5rem;
}

#Makeright #HeroLogo .section--graphic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#Makeright #HeroLogo .section--graphic > * {
  background-color: #F3F3F7;
  width: 70%;
}

#Makeright #Plan,
#Makeright #BuildingMakeRight {
  margin-top: 0;
}
/*# sourceMappingURL=style.css.map */